{% extends "table_list.html" %}

{% block page_header %}Actualizaciones de venta{% endblock page_header %}

{% block work %}
    <ul style='margin-top:1em;' class="nav nav-tabs">
        <li><a href="{% url 'actualizacion.list' %}">Todas</a></li>
        <li><a href="{% url 'actualizacion.compra.list' %}">Compra</a></li>
        <li class="active"><a href="#" >Venta</a></li>
        <li><a href="{% url 'actualizacion.interna.list' %}">Internas</a></li>
    </ul>
    {% if actualizaciones %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Status</a>
                    </th>
                    <th>
                        <a href="#">Motivo</a>
                    </th>
                    <th>
                        <a href="#">Tipo</a>
                    </th>
                    <th>
                        <a href="#">Origen</a>
                    </th>
                    <th>
                        <a href="#">Destino</a>
                    </th>
                    <th>
                        <a href="#">Fecha</a>
                    </th>
                    <th>
                        <a href="#">Orden</a>
                    </th>
                    <th>
                        <a href="#"></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for actualizacion in actualizaciones %}
                    <tr>
                        <td>
                            {{actualizacion.verbose_status}}
                        </td>
                        <td>
                            {{actualizacion.verbose_motivo}}
                        </td>
                        <td>
                            {{actualizacion.verbose_tipo}}
                        </td>
                        <td>
                            {{actualizacion.almacen_origen}}
                        </td>
                        <td>
                            {{actualizacion.almacen_destino}}
                        </td>
                        <td>
                            {{actualizacion.fecha_fin|date:'SHORT_DATE_FORMAT'}}
                        </td>
                        <td>
                            {{actualizacion.orden.codigo}}
                        </td>
                        <td>
                            {% if actualizacion.status == 'porrealizarse' %}
                                <a class="btn btn-success btn-sm" href="{% url 'actualizacion.venta.procesar' actualizacion.id %}">Procesar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else%}
        <div class="alert alert-info message-empty-table" role="alert">
            No hay ninguna actualización de almacen registrada
        </div>
    {% endif %}


{% endblock work %}
