{% extends "admin.html" %}
{% load staticfiles %}

{% block javascript %}
{{ block.super }}
    <script src="{% static 'js/lib/angular-chosen.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/config.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/directives.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/services.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/controllers/procesarActualizacionVentaController.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Procesar salida de almacén{% endblock page_header %}


{% block work %}
<input type="hidden" id="cotizacion_id" value="{{cotizacion.id}}">
<input type="hidden" id="almacen_id" value="{{almacen.id}}">
<input type="hidden" id="actualizacion_id" value="{{actualizacion.id}}">
<form>{% csrf_token %}
    <div ng-app='almacen'>
        {% verbatim %}
        <div ng-controller="procesarActualizacionVentaController">
            <pre>{{productos|json}}</pre>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="producto_cotizacion in productos_cotizacion">
                        <td>
                            {{producto_cotizacion.estereotipo.id}}
                        </td>
                        <td>
                            {{producto_cotizacion.estereotipo.nombre}}
                        </td>
                        <td>
                            <span ng-class="{ 'text-success': producto_cotizacion.cantidad_actual==producto_cotizacion.cantidad, 'text-danger': producto_cotizacion.cantidad_actual<producto_cotizacion.cantidad, 'text-warning': producto_cotizacion.cantidad_actual>producto_cotizacion.cantidad }">
                                {{ producto_cotizacion.cantidad_actual >= 0 ? producto_cotizacion.cantidad_actual : 0 }}
                                / {{producto_cotizacion.cantidad}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="text" class="form-control input-lg" my-enter="capturarCodigo">
            <table  class="table table-bodered">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th width="60%">
                            Producto
                        </th>
                        <th width="20%">
                            Fecha de vencimiento
                        </th>
                        <th>
                            Ubicación
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="producto in productos | reverse">
                        <td>
                            {{producto.data.codigo}}
                        </td>
                        <td>
                            {{producto.data.estereotipo_verbose}}
                        </td>
                        <td>
                            {{producto.data.fecha_vencimiento}}
                        </td>
                        <td>
                            {{producto.data.ubicacion}}
                        </td>
                        <td>
                            <a ng-click="eliminar(producto)" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-default" ng-click="save()">Enviar</a>
        </div>
        {% endverbatim %}
    </div>
</form>


{% endblock work %}
