{% extends "admin.html" %}
{% load filtros %}

{% block page_header %}Procesar actualización de almacén{% endblock page_header %}

{% block work %}
    <form method="post">{% csrf_token %}
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url 'actualizacion.compra.list' %}" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Regresar
                </a>
                <button type="submit" class="btn btn-sm btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Procesar
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Pedido de compra</h2>
            </div>
            <div class="panel-body">
                {% include "compras/pedido/fragments/detail.html" with pedido=instance.pedido %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Producto: {{instance.pedido.producto}}</h2>
            </div>
            <div class="panel-body">
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            {{form.id}}
                            {{ form.codigo.label_tag }}
                            {{ form.codigo|bootstrap_class }}
                            {% if form.codigo.errors %}
                            <div class='alert alert-danger' role="alert"> {{ form.codigo.errors }} </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <button type="submit" class="btn btn-success btn-sm">Almacenar</button>
            </div>
        </div>
    </form>

{% endblock work %}
