{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block stylesheet %}
{{ block.super }}
<style media="screen">
    .table>tbody>tr>td.producto-plain{
        padding-bottom: 0;
        vertical-align: middle;
        padding-top: 0;
    }
</style>
{% endblock stylesheet %}

{% block page_header %}Procesar actualización de venta{% endblock page_header %}

{% block work %}
<form method="post">{% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{% url 'actualizacion.venta.list' %}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Regresar
            </a>
            <button type="submit" class="btn btn-sm btn-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Procesar
            </button>
        </div>
    </div>
    <ul style='margin-top:1em;' class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#actualizacion">Actualización</a></li>
        <li><a href="#cotizacion">Cotización</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="actualizacion">
            {{ formset.management_form }}
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="width: 30%;">
                            Código
                        </th>
                        <th>
                            Producto
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                    <tr>
                        <td>
                            {{ form.codigo|bootstrap_class }}
                            {% if form.codigo.errors %}
                            <div class='alert alert-danger' role="alert"> {{ form.codigo.errors }} </div>
                            {% endif %}
                        </td>
                        <td class="producto-plain">
                            {{form.id}}
                            <input type="hidden" name="{{form.estereotipo.html_name}}" value="{{form.estereotipo.value}}">
                            {{ form.get_estereotipo_name }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="cotizacion">
            {% include "ventas/orden/fragments/detail.html" with orden=instance %}
        </div>
    </div>
</form>

{% endblock work %}

{% block javascript %}
<script src="{% static 'js/ventas/table_orden_informe.js' %}" charset="utf-8"></script>
<script type="text/javascript">
    $('#tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
{% endblock javascript %}
