{% extends "admin.html" %}
{% load staticfiles %}

{% block javascript %}
{{ block.super }}
    <script src="{% static 'js/lib/angular-chosen.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/config.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/directives.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/services.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/controllers/procesarActualizacionCompraController.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Procesar actualización de entrada almacén{% endblock page_header %}

{% block work %}
<input type="hidden" id="pedido_id" value="{{pedido.id}}">
<input type="hidden" id="almacen_id" value="{{almacen.id}}">
<input type="hidden" id="actualizacion_id" value="{{actualizacion.id}}">
<form>{% csrf_token %}
    <div ng-app='almacen'>
        {% verbatim %}
        <div ng-controller="procesarActualizacionCompraController">
            <pre>{{productos|json}}</pre>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="producto_pedido in productos_pedido">
                        <td>
                            {{producto_pedido.estereotipo}}
                        </td>
                        <td>
                            {{producto_pedido.estereotipo_verbose}}
                        </td>
                        <td>
                            <span ng-class="{ 'text-success': producto_pedido.cantidad_actual==producto_pedido.cantidad, 'text-danger': producto_pedido.cantidad_actual<producto_pedido.cantidad, 'text-warning': producto_pedido.cantidad_actual>producto_pedido.cantidad }">
                                {{ producto_pedido.cantidad_actual >= 0 ? producto_pedido.cantidad_actual : 0 }}
                                / {{producto_pedido.cantidad}}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="text" class="form-control input-lg" my-enter="capturarCodigo">
            <table  class="table table-bodered">
                <thead>
                    <tr>
                        <th>
                            Código
                        </th>
                        <th width="60%">
                            Producto
                        </th>
                        <th width="20%">
                            Fecha de vencimiento
                        </th>
                        <th>
                            Ubicación
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="producto in productos | reverse">
                        <td>
                            {{producto.data.codigo}}
                        </td>
                        <td>
                            <!--<select chosen
                                    ng-options="producto_compra.estereotipo_verbose for producto_compra in productos_pedido track by producto_compra.estereotipo"
                                    ng-model="producto.data.estereotipo"
                                    class="form-control">
                            </select>-->
                            <select chosen class="form-control" ng-change="cambio_estereotipo(producto)" ng-model="producto.data.estereotipo">
                                <option></option>
                                <option ng-repeat="producto_compra in productos_pedido"  ng-value="producto_compra.estereotipo">
                                    {{producto_compra.estereotipo_verbose}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="date"
                                   class="form-control input-sm datepicker"
                                   ng-model="producto.data.fecha_vencimiento"
                                   >
                        </td>
                        <td>
                            <input type="text"
                                   class="form-control input-sm"
                                   ng-model="producto.data.ubicacion"
                                   >
                        </td>
                        <td>
                            <a ng-click="eliminar(producto)" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-default" ng-click="save()">Enviar</a>
        </div>
        {% endverbatim %}
    </div>
</form>


{% endblock work %}
