{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/ventas/telefonos_orden.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Proveedor{% endblock page_header %}

{% block work %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% include "fragments/buttons_form.html" with list_url='proveedor.list' %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Datos básicos</h3>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  <div class="row">
                      <div class="col-md-12">
                          {{ form.logo.label_tag }}
                          {{ form.logo|bootstrap_class }}
                          {% if form.logo.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.logo.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <span class="text-danger">*</span>
                          {{ form.nombre.label_tag }}
                          {{ form.nombre|bootstrap_class }}
                          {% if form.nombre.errors %}
                             <div class='alert alert-danger' role="alert"> {{ form.nombre.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  {% include "ventas/fragments/telefono_modelformset.html" %}
              </div>
              <div class="col-md-6 col-sm-12">
                  <div class="row">
                      <div class="col-md-12">
                          <span class="text-danger">*</span>
                          {{ form.estado.label_tag }}
                          {{ form.estado|bootstrap_class }}
                          {% if form.estado.errors %}
                             <div class='alert alert-danger' role="alert"> {{ form.estado.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <span class="text-danger">*</span>
                          {{ form.ciudad.label_tag }}
                          {{ form.ciudad|bootstrap_class }}
                          {% if form.ciudad.errors %}
                             <div class='alert alert-danger' role="alert"> {{ form.ciudad.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          {{ form.direccion.label_tag }}
                          {{ form.direccion|bootstrap_class }}
                          {% if form.direccion.errors %}
                             <div class='alert alert-danger' role="alert"> {{ form.direccion.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% include "ventas/fragments/add_contactos.html" with url_redirect='proveedor.update' %}
</form>
{% endblock work %}
