{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block page_header %}Paciente{% endblock page_header %}

{% block work %}
<form method="post">{% csrf_token %}
    {% include "fragments/buttons_form.html" with list_url='paciente.list' %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.nombres.label_tag }}
                    {{ form.nombres|bootstrap_class }}
                    {% if form.nombres.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.nombres.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.apellidos.label_tag }}
                    {{ form.apellidos|bootstrap_class }}
                    {% if form.apellidos.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.apellidos.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.estado.label_tag }}
                    {{ form.estado|bootstrap_class }}
                    {% if form.estado.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.estado.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.ciudad.label_tag }}
                    {{ form.ciudad|bootstrap_class }}
                    {% if form.ciudad.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.ciudad.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock work %}
