{% extends "table_list.html" %}

{% block page_header %}
Pacientes
<a href="{% url 'paciente.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if pacientes %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Nombre</a>
                    </th>
                    <th>
                        <a href="#">Apellido</a>
                    </th>
                    <th>
                        <a href="#">Estado</a>
                    </th>
                    <th>
                        <a href="#">Ciudad</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                    <tr>
                        <td>
                            {{paciente.nombres}}
                        </td>
                        <td>
                            {{paciente.apellidos}}
                        </td>
                        <td>
                            {{paciente.estado}}
                        </td>
                        <td>
                            {{paciente.ciudad}}
                        </td>
                        <td>
                            <a href="{% url 'paciente.detail' paciente.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'paciente.update' paciente.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'paciente.delete' paciente.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <p>
            No hay ningun paciente registrado
        </p>
    {% endif %}
{% endblock work %}
