{% if form.instance.contactos %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contactos</h3>
  </div>
  <div class="panel-body">
      {% for contacto in form.instance.contactos.all %}
          <div class="col-md-4 col-sm-6">
              <a href="{% url 'contacto.edit' form.instance.id contacto.id %}?redirection={% url url_redirect form.instance.id %}" class="contacto">
                  {% if contacto.cargo %}
                      <p>
                          <strong>{{contacto.cargo}}</strong> en <strong>{{contacto.division_administrativa}}</strong>
                      </p>
                  {% endif %}
                  <p>{{contacto.nombres}} {{contacto.apellidos}}</p>
                  {% for telefono in contacto.telefonos.all %}
                      <li>{{telefono.verbose_tipo}} {{telefono.numero}}</li>
                  {% endfor %}
              </a>
          </div>
      {% endfor %}
      <div class="col-md-12">
          {% if form.instance.id %}
              <a class="btn btn-primary addcontacto" href="{% url 'contacto.create' form.instance.id %}?redirection={% url url_redirect form.instance.id %}">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  Agregar un contacto
              </a>
          {% else %}
            <input type="hidden" id="route_base" name="route_base">
            <input type="hidden" id="route_redirect" name="route_redirect">
            <button class="btn btn-primary addcontacto" type="submit" id="submit_contacto">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              Agregar un contacto
            </button>
          {% endif %}
      </div>
  </div>
</div>
<script type="text/javascript">
    var route_base = "contacto.create";
    var route_redirect = "{{url_redirect}}";
    submit = document.getElementById('submit_contacto');
    console.log(submit);
    if(submit !== null){
        submit.addEventListener('click', function (e) {
            // e.preventDefault();
            input_redirection = document.getElementById('route_redirect');
            input_redirection.value = route_redirect;
            input_base = document.getElementById('route_base');
            input_base.value = route_base;
        });
    }
</script>
{% endif %}
