{% load filtros %}

{% if form.telefono_form %}
    {{ form.telefono_form.management_form }}
    <div class="row">
        <div class="col-md-12">
            <label>Teléfonos</label>
            <div id="container_telefono">
                {% for form in form.telefono_form %}
                    <div class="row">
                        {{form.id}}
                        <div class="col-sm-3">
                            {{form.tipo|bootstrap_class}}
                            {% if form.tipo.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.tipo.errors }} </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-7">
                            {{form.numero|bootstrap_class}}
                            {% if form.numero.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.numero.errors }} </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <span class="hidden">{{ form.DELETE }}</span>
                            <a class="btn btn-sm btn-danger delete" href="#">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-12">
            <a class="btn btn-sm btn-success add_more" href="#">
                <span class="glyphicon glyphicon-plus"></span>
                Agregar otro telefono
            </a>
            <input type="hidden" id="empty_form_telefono" value=' <div class="row">
                <div class="col-sm-3">
                {{form.telefono_form.empty_form.tipo|bootstrap_class}}
                {% if form.telefono_form.empty_form.tipo.errors %}
                   <div class="alert alert-danger" role="alert"> {{ form.telefono_form.empty_form.tipo.errors }} </div>
                {% endif %}
            </div>
            <div class="col-sm-7">
                {{form.telefono_form.empty_form.numero|bootstrap_class}}
                {% if form.telefono_form.empty_form.numero.errors %}
                   <div class="alert alert-danger" role="alert"> {{ form.telefono_form.empty_form.numero.errors }} </div>
                {% endif %}
            </div>
            <div class="col-sm-2">
                <span class="hidden">{{ form.telefono_form.empty_form.DELETE }}</span>
                <a class="btn btn-sm btn-danger delete" href="#">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </a>
            </div>
        </div>
             '>
        </div>
    </div>
{% endif %}
