{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>ERP</title>
        <link rel="stylesheet" href="{% static 'css/lib/materialize.min.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block stylesheet %}{% endblock stylesheet %}
    </head>
    <body ng-app="main" class="grey lighten-4">

        <div class="row">

            <!-- Menus principales -->
            <nav class="teal">
                <div class="nav-wrapper">
                    <!-- Boton de activación de menu overlay de la versión movil -->
                    <a href="#" data-activates="side-over-menu" class="button-collapse" style="padding-left:1em;"><i class="material-icons">menu</i></a>

                    <!-- Menu horizontal estatico -->
                    <ul id="horizontal-menu" class="right hide-on-med-and-down">
                        {% include "fragments/main_menu.html" %}
                    </ul>

                    <!-- Menu overlay para dispositivos moviles -->
                    <ul id="side-over-menu" class="side-nav">
                        {% include "fragments/over_menu.html" %}
                    </ul>

                </div>
                <!-- Fin de menus principales-->

            </nav>

            <!-- Menu lateal estatico -->
            <div id="side-menu" class="no-padding white col m4 l3 hide-on-med-and-down z-depth-1">
                <!-- Logo -->
                <div style="padding-top:.5rem" class="collection-item">
                    <a href="#{% url 'index' %}" class="brand-logo">
                        <img src="http://placehold.it/300x150" alt="Logo" />
                    </a>
                </div>
                <!-- Submenus que se activan en funcion de la opción que este seleccionada en el menu principal -->
                <div class="colecciones">
                    {% include "fragments/menu_collection.html" %}
                </div>
            </div>
            <!-- Fin de menu lateal estatico -->

            <!-- Este primer div es para la división de espacios entre el area de trabajo y la barra lateal de menu -->
            <div class="col s12 m12 l9 no-padding">
              <!-- Este segundo div se usa como para que el area de trabajo no quede pegada a los bordes -->
              <div class="col l10 m12 s12 offset-l1">

                  {% block body %}{% endblock body %}
              </div>
            </div>
        </div>
        {% block templatejs %}{% endblock templatejs %}
        <script src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script src="{% static 'js/lib/materialize.min.js' %}"></script>
        <script src="{% static 'js/lib/ejs.min.js' %}"></script>
        <script src="{% static 'js/init.js' %}"></script>
        {% block javascript %}{% endblock javascript %}
    </body>
</html>
