{% extends "table_list.html" %}

{% block page_header %}
Marcas de productos
<a href="{% url 'producto.marca.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if marcas %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Nombre</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for marca in marcas %}
                    <tr>
                        <td>
                            {{marca.nombre}}
                        </td>
                        <td>
                            <a href="{% url 'producto.marca.detail' marca.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'producto.marca.update' marca.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'producto.marca.delete' marca.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <div class="alert alert-info message-empty-table" role="alert">
            No hay ninguna especilidad medica registrada
        </div>
    {% endif %}
{% endblock work %}
