{% extends "admin.html" %}
{% load filtros %}

{% block work %}
    {% if form and productos_form %}
    <form method="post">{% csrf_token %}
        {{ productos_form.management_form }}
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="{% url 'ventas.orden.detail' orden_venta.id %}" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button type="submit" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Confirmar adjudicacion
                </button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Datos de entrega</h3>
            </div>
            <div class="panel-body">
                <div style='margin-top:0;' class="alert alert-info message-empty-table" role="alert">
                    Por defecto se tomará la fecha de la cirugía como la fecha de entrega
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        {{ form.almacen_origen.label_tag }}
                        {{ form.almacen_origen|bootstrap_class }}
                        {% if form.almacen_origen.errors %}
                        <div class='alert alert-danger' role="alert"> {{ form.almacen_origen.errors }} </div>
                        {% endif %}
                    </div>
                    <div class="col-md-6 col-sm-12">
                        {{ form.fecha_compromiso.label_tag }}
                        {{ form.fecha_compromiso|bootstrap_class }}
                        {% if form.fecha_compromiso.errors %}
                        <div class='alert alert-danger' role="alert"> {{ form.fecha_compromiso.errors }} </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Productos</h3>
            </div>
            <div class="panel-body">
                <table id='productos' class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>
                                Incluido
                            </th>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Precio por unidad
                            </th>
                            <th>
                                Precio
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto_form in productos_form %}
                            {% if producto_form.instance.id %}
                                <tr>
                                    <td>
                                        {{producto_form.id}}
                                        {{producto_form.incluido}}
                                    </td>
                                    <td>
                                        {{producto_form.instance.cantidad}}
                                    </td>
                                    <td>
                                        {{producto_form.instance.producto}}
                                    </td>
                                    <td>
                                        {{producto_form.instance.precio_unidad}}
                                    </td>
                                    <td>
                                        {{producto_form.instance.total}}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock work %}
