{% extends "body.html" %}


{% block content %}
<h2>¿Cúal fué la razón del rechazo de la licitación?</h2>
    <form method="post">
        {% include "fragments/form.html" %}
    </form>
{% endblock content %}
