{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/ventas/productos_orden.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ventas/table_orden.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Orden de venta{% endblock page_header %}

{% block work %}
<form method="post">
    {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-body">
          <a href="{% url 'ventas.orden.list' %}" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
              Volver al inicio</a>
          <button class="btn btn-success btn-sm" type="submit">
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
              Guardar
          </button>
      </div>
    </div>
    {% include "fragments/messages.html" %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.empresa.label_tag }}
            {{ form.empresa|bootstrap_class }}
            {% if form.empresa.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.empresa.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.codigo.label_tag }}
            {{ form.codigo|bootstrap_class }}
            {% if form.codigo.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.codigo.errors }} </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.cliente.label_tag }}
            {{ form.cliente|bootstrap_class }}
            {% if form.cliente.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.cliente.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.medico.label_tag }}
            {{ form.medico|bootstrap_class }}
            {% if form.medico.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.medico.errors }} </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.hospital.label_tag }}
            {{ form.hospital|bootstrap_class }}
            {% if form.hospital.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.hospital.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.paciente.label_tag }}
            {{ form.paciente|bootstrap_class }}
            {% if form.paciente.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.paciente.errors }} </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                {{ form.fecha_cirugia.label_tag }}
                {{ form.fecha_cirugia|bootstrap_class }}
                {% if form.fecha_cirugia.errors %}
                   <div class='alert alert-danger' role="alert"> {{ form.fecha_cirugia.errors }} </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id='productos' class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>
                                Cantidad
                            </th>
                            <th>
                                Producto
                            </th>
                            <th>
                                Precio por unidad
                            </th>
                            <th>
                                Precio
                            </th>
                        </tr>
                    </thead>
                    <tbody id="container_producto">
                        {{ form.form_productos.management_form }}
                        {% for form_producto in form.form_productos %}
                            {{form_producto.id}}
                            <tr>
                                <td class="cantidad">
                                    {{form_producto.cantidad|positive_bs}}
                                    {% if form_producto.cantidad.errors %}
                                       <div class="alert alert-danger" role="alert"> {{ form_producto.cantidad.errors }} </div>
                                    {% endif %}
                                </td>
                                <td>
                                    {{form_producto.producto|bootstrap_class}}
                                    {% if form_producto.producto.errors %}
                                       <div class="alert alert-danger" role="alert"> {{ form_producto.producto.errors }} </div>
                                    {% endif %}
                                </td>
                                <td class="precio">
                                    {{form_producto.precio_unidad|positive_bs}}
                                    {% if form_producto.precio_unidad.errors %}
                                       <div class="alert alert-danger" role="alert"> {{ form_producto.precio_unidad.errors }} </div>
                                    {% endif %}
                                </td>
                                <td class="total_fila">
                                    <input type="text" class="total_producto form-control input-sm" value="" readonly>
                                    <input type="hidden" class="total_producto" value="">
                                </td>
                                <td>
                                    <span class="hidden">{{ form_producto.DELETE }}</span>
                                    <a class="btn btn-sm btn-danger delete" href="#" >
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="col-sm-12 col-md-6">
                    <a class="btn btn-sm btn-warning add_more" href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                        Agregar otro producto
                    </a>
                    <input type="hidden" id="empty_form_producto" value='<tr>
                        <td class="cantidad">
                            {{form.form_productos.empty_form.cantidad|positive_bs}}
                            {% if form.form_productos.empty_form.cantidad.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.cantidad.errors }} </div>
                            {% endif %}
                        </td>
                        <td>
                            {{form.form_productos.empty_form.producto|bootstrap_class}}
                            {% if form.form_productos.empty_form.producto.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.producto.errors }} </div>
                            {% endif %}
                        </td>
                        <td class="precio">
                            {{form.form_productos.empty_form.precio_unidad|positive_bs}}
                            {% if form.form_productos.empty_form.precio_unidad.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.precio_unidad.errors }} </div>
                            {% endif %}
                        </td>
                        <td class="total_fila">
                            <input type="text" class="total_producto form-control input-sm" value="" readonly>
                            <input type="hidden" class="total_producto" value="">
                        </td>
                        <td>
                            <span class="hidden">{{ form.propiedad_form.empty_form.DELETE }}</span>
                            <a class="btn btn-sm btn-danger delete" href="#" >
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>'/>
                </div>
                <div class="col-sm-12 col-md-3 col-md-offset-2">
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr>
                                <th>
                                    Subtotal
                                </th>
                                <td id="subtotal">
                                    0.00
                                </td>
                            </tr>
                            <tr>
                                <th id="iva_porcentaje">
                                    IVA
                                    <select class="">
                                        <option value="0.16">
                                            16%
                                        </option>
                                    </select>
                                </th>
                                <td id="iva">
                                    0.00
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Total
                                </th>
                                <td id="total">
                                    0.00
                                </td>
                            </tr>
                            <!--<tr>
                                <td colspan="2" style="text-align:center">
                                    <a href="#">
                                        <strong>Calcular total</strong>
                                    </a>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock work %}
