{% extends "admin.html" %}
{% load staticfiles %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/lib/jquery.dataTables.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/lib/dataTables.bootstrap.min.js' %}" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.table-list').DataTable({
            "order": [[ 0, 'desc' ]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json"
            }
        });
    });
</script>
{% endblock javascript %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/lib/dataTables.bootstrap.min.css' %}" media="screen" title="no title" charset="utf-8">
{% endblock stylesheet %}

{% block page_header %}
Cotizaciones de venta
<a href="{% url 'ventas.orden.new' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}
{% block work %}
    {% if ordenes %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        <a href="#">Empresa</a>
                    </th>
                    <th>
                        <a href="#">Hospital</a>
                    </th>
                    <th>
                        <a href="#">Paciente</a>
                    </th>
                    <th>
                        <a href="#">Fecha de cirugía</a>
                    </th>
                    <th>
                        <a href="#">Estatus</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for orden in ordenes %}
                    <tr>
                        <td>
                            {{orden.id}}
                        </td>
                        <td>
                            {{orden.empresa}}
                        </td>
                        <td>
                            {{orden.hospital}}
                        </td>
                        <td>
                            {{orden.paciente}}
                        </td>
                        <td>
                            {{orden.fecha_cirugia|date:"SHORT_DATE_FORMAT" }}
                        </td>
                        <td class="{{orden.color_status}}">
                            {{orden.verbose_status}}
                        </td>
                        <td>
                            <a href="{% url 'ventas.orden.detail' orden.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'ventas.orden.modify' orden.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'ventas.orden.delete' orden.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <p>
            No hay ninguna orden de compra registrada
        </p>
    {% endif %}
{% endblock work %}
