{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/core/widgets/select_addmore.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ventas/table_orden.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ventas/add_new_producto.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ventas/cotizacion/app/config.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ventas/cotizacion/app/services.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ventas/cotizacion/app/directives.js' %}" charset="utf-8"></script>
<script src="{% static 'js/ventas/cotizacion/app/controllers.js' %}" charset="utf-8"></script>
<style media="screen">
    .gris{
        background-color: #8bf;
    }
    .errores{
        box-shadow: 0px 0px 5px #f00;
        border-color: red;
    }
    .alert-warning .bootstrap-datetimepicker-widget table td,
    .alert-warning .bootstrap-datetimepicker-widget table th{
        color: #333;
    }
    .alert-warning .bootstrap-datetimepicker-widget table td.old,
    .alert-warning .bootstrap-datetimepicker-widget table td.new{
        color: #777;
    }
</style>
<script type="text/javascript">
    tr_color = function () {
        $('td').on('click', function () {
            $.each($('tr'), function(index, el) {
                $(el).removeClass('gris');
            });
            $(this.parentNode).addClass('gris');
        });
    }
    tr_color();
    H34.eventos.addEvento(tr_color)
</script>
{% endblock javascript %}

{% block page_header %}Cotización de venta{% endblock page_header %}

{% block work %}
<input type="hidden" id="orden_venta" value="{{form.instance.id}}">
<form method="post">
    {% csrf_token %}
    <input type="hidden" id="redireccion" name="redireccion" value="detail">
    <div class="panel panel-default">
      <div class="panel-body">
          <a href="{% url 'ventas.orden.list' %}" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
              Volver al inicio</a>
          <button class="btn btn-success btn-sm" type="submit">
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
              Guardar
          </button>
      </div>
    </div>
    {% include "fragments/messages.html" %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.empresa.label_tag }}
            {{ form.empresa|bootstrap_class }}
            {% if form.empresa.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.empresa.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            <label for="codigo">Código</label>
            <input class="form-control input-sm" type="text" value="{{form.instance.codigo}}" readonly="readonly">
        </div>
    </div>
    <div class="row">
        {# Datos del cliente #}
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <span class="text-danger">*</span>
                    {{ form.cliente.label_tag }}
                    {{ form.cliente|bootstrap_class }}
                    {% if form.cliente.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.cliente.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form.contacto_cliente.label_tag }}
                    {{ form.contacto_cliente|bootstrap_class }}
                    {% if form.contacto_cliente.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.contacto_cliente.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <span class="text-danger">*</span>
                    {{ form.hospital.label_tag }}
                    {{ form.hospital|bootstrap_class }}
                    {% if form.hospital.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.hospital.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form.contacto_hospital.label_tag }}
                    {{ form.contacto_hospital|bootstrap_class }}
                    {% if form.contacto_hospital.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.contacto_hospital.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {# Datos de la operación #}
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.medico.label_tag }}
                    {{ form.medico|bootstrap_class }}
                    {% if form.medico.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.medico.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.paciente.label_tag }}
                    {{ form.paciente|bootstrap_class }}
                    {% if form.paciente.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.paciente.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {#  Fecha de cirugia #}
    <div class="row">
        <div class="col-md-4 col-md-offset-8 col-sm-12">
            {{ form.fecha_cirugia.label_tag }}
            {{ form.fecha_cirugia|bootstrap_class }}
            {% if form.fecha_cirugia.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.fecha_cirugia.errors }} </div>
            {% endif %}
        </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#productostab" aria-controls="productos" role="tab" data-toggle="tab">Productos</a></li>
        <li role="presentation"><a href="#datosentrega" aria-controls="datosentrega" role="tab" data-toggle="tab">Datos para entregas</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="productostab">
            <div class="row" ng-app='tabla-cotizacion' ng-controller='TableController'>
                <div class="col-md-12">
                    <div class="well">
                        {% verbatim %}
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <h3 class="page-header">Información de productos</h3>
                                    <!--<pre>Proveedores: {{proveedores|json}}</pre>-->
                                    <!--<pre>Producto compra: {{producto_compra|json}}</pre>-->
                                    <!--<pre>Fecha compromiso: {{data.fecha_compromiso|json}}</pre>-->
                                    <p ng-hide='producto.id==null'><strong>Producto:</strong> {{ producto.nombre }}</p>
                                    <p ng-hide='producto.id==null'><strong>Disponibilidad:</strong> {{ producto.disponibilidad }}</p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <!-- Aviso de que se ha sobrepasado la disponibilidad del producto -->
                                    <div class="alert alert-warning" ng-show='producto.cantidad>producto.disponibilidad' style="padding-bottom: 0;">
                                        <div style="font-size:1.1em;" class="row">
                                            <div class="col-sm-10">
                                                <p>Has excedido la disponibilidad de este producto</p>
                                                <p><strong>Debes generar un pedido de compra</strong></p>
                                            </div>
                                            <div class="col-sm-2">
                                                <p style="font-size:3em;">
                                                    <span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin de aviso de sobrepaso de disponibilidad del producto -->
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <!-- Aviso para que el usuario seleccione un producto -->
                                    <div ng-show='producto.id==null' class="alert alert-info">
                                        <p style="vertical-align:middle;">
                                            Por favor, seleccione un producto.
                                        </p>
                                    </div>
                                    <!-- Fin de aviso -->
                                    <!-- Formulario de pedido de compra -->
                                    <div id="contenedor-pedido" class="orden-compra alert alert-warning" ng-show='producto.cantidad>producto.disponibilidad'>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h3 class="page-header" style="margin-bottom:.1em;">Pedido de compra</h3>
                                                    <label for="cantidad">Cantidad</label>
                                                    <input type="number" ng-model="producto_compra.cantidad" class="form-control input-sm" min="1" step="1" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <label for="proveedor">Proveedor</label>
                                            <select ng-model='producto_compra.proveedor' id="proveedor" class="form-control input-sm" ng-change="cambio_proveedor()">
                                                <option value="">----------</option>
                                                <option ng-repeat="proveedor in proveedores" value="{{proveedor.id}}">{{proveedor.nombre}}</option>
                                            </select>
                                            <label for="almacen_destino">Almacén de destino</label>
                                            <select ng-model='producto_compra.almacen_destino' id="almacen_destino" class="form-control input-sm">
                                                <option value="">----------</option>
                                                <option ng-repeat="almacen in almacenes" value="{{almacen.id}}">{{almacen.descripcion}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <label for="fecha_compromiso">Fecha compromiso</label>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input type="text"
                                                    class="form-control input-sm"
                                                    data-date-time-picker
                                                    ng-model="data.fecha_compromiso"
                                                    ng-value="{{producto_compra.fecha_compromiso}}"
                                                    id="fecha_compromiso" />
                                                </div>
                                            </div>
                                            <label for="precio">Precio</label>
                                            <input ng-model='producto_compra.precio_unidad'
                                                   readonly
                                                   type="number"
                                                   id="precio"
                                                   class="form-control input-sm"
                                                   min="0"
                                                   step="0.01">
                                        </div>
                                        <p style="text-align:center;">
                                            <a id="submit-pedido"
                                               style="margin-top:1em;"
                                               class="btn btn-danger"
                                               ng-click="salvarOrden($event)"
                                               >
                                               Crear orden de compra
                                           </a>
                                        </p>
                                    </div>
                                    <!-- Fin de formulario de pedido de compra -->
                                </div>
                            </div>
                        {% endverbatim %}
                    </div>
                </div>
                <div class="col-md-12">
                    <table id='productos' class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th width="6%">
                                    Partida
                                </th>
                                <th width="6%">
                                    Cantidad
                                </th>
                                <th width="30%">
                                    Producto
                                </th>
                                <th>
                                    Nombre a imprimir
                                </th>
                                <th width="8%">
                                    Precio por unidad
                                </th>
                                <th width="8%">
                                    Precio
                                </th>
                                <th width="5%">

                                </th>
                            </tr>
                        </thead>
                        <tbody id="container_producto">
                            {{ form.form_productos.management_form }}
                            {% for form_producto in form.form_productos %}
                                {{form_producto.id}}
                                <tr>
                                    <td class="partida"
                                        ng-click="getTd($event)">
                                        <input type="number"
                                               id="{{ form_producto.partida.auto_id }}"
                                               name="{{ form_producto.partida.html_name }}"
                                               value="{{ form_producto.partida.value }}"
                                               min="1"
                                               step="1"
                                               class="form-control input-sm"
                                               ng-blur="getInputTd($event)"
                                        />
                                        {% if form_producto.partida.errors %}
                                           <div class="alert alert-danger" role="alert"> {{ form_producto.partida.errors }} </div>
                                        {% endif %}
                                    </td>
                                    <td class="cantidad"
                                        ng-click='getTd($event)'>
                                        <input type="number"
                                               id="{{ form_producto.cantidad.auto_id }}"
                                               name="{{ form_producto.cantidad.html_name }}"
                                               value="{{ form_producto.cantidad.value }}"
                                               min="1"
                                               step="1"
                                               class="form-control input-sm"
                                               ng-blur="getInputTd($event)"
                                        />
                                        {% if form_producto.cantidad.errors %}
                                           <div class="alert alert-danger" role="alert"> {{ form_producto.cantidad.errors }} </div>
                                        {% endif %}
                                    </td>
                                    <td class="producto" ng-click='getTd($event)'>
                                        {{form_producto.estereotipo|attrs:"class:form-control searchable input-sm"}}
                                        {% if form_producto.estereotipo.errors %}
                                           <div class="alert alert-danger" role="alert"> {{ form_producto.estereotipo.errors }} </div>
                                        {% endif %}
                                    </td>
                                    <td class="alias" ng-click='getTd($event)'>
                                        {{form_producto.alias|bootstrap_class}}
                                        {% if form_producto.alias.errors %}
                                           <div class="alert alert-danger" role="alert"> {{ form_producto.alias.errors }} </div>
                                        {% endif %}
                                    </td>
                                    <td class="precio" ng-click='getTd($event)' >
                                        <input type="number"
                                               id="{{ form_producto.precio_unidad.auto_id }}"
                                               name="{{ form_producto.precio_unidad.html_name }}"
                                               value="{{ form_producto.precio_unidad.value }}"
                                               min="0"
                                               step="0.01"
                                               class="form-control input-sm"
                                               ng-blur="getInputTd($event)"
                                        />
                                        {% if form_producto.precio_unidad.errors %}
                                           <div class="alert alert-danger" role="alert"> {{ form_producto.precio_unidad.errors }} </div>
                                        {% endif %}
                                    </td>
                                    <td class="total_fila">
                                        <input type="text" class="total_producto form-control input-sm" value="" readonly>
                                        <input type="hidden" class="total_producto" value="">
                                    </td>
                                    <td>
                                        <span class="hidden">{{ form_producto.DELETE }}</span>
                                        <a class="btn btn-sm btn-danger delete" href="#" >
                                            <span class="glyphicon glyphicon-remove-sign"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="col-sm-12 col-md-6">
                        <a class="btn btn-sm btn-warning add_more" href="#">
                            <span class="glyphicon glyphicon-plus"></span>
                            Agregar un producto a la cotización
                        </a>
                        <a class="btn btn-sm btn-success add_producto" href="#">
                            <span class="glyphicon glyphicon-plus"></span>
                            Crear nuevo producto
                        </a>
                        <input type="hidden" id="empty_form_producto" value='<tr ng-click="getRow($event)">
                            <td class="partida"
                                ng-click="getTd($event)">
                                <input type="number"
                                       id="{{ form.form_productos.empty_form.partida.auto_id }}"
                                       name="{{ form.form_productos.empty_form.partida.html_name }}"
                                       value="{{ form.form_productos.empty_form.partida.value }}"
                                       min="1"
                                       step="1"
                                       class="form-control input-sm"
                                       ng-blur="getInputTd($event)"
                                />
                            </td>
                            <td class="cantidad">
                                <input type="number"
                                       id="{{ form.form_productos.empty_form.cantidad.auto_id }}"
                                       name="{{form.form_productos.empty_form.cantidad.html_name}}"
                                       value="{{ form.form_productos.empty_form.cantidad.value }}"
                                       min="1"
                                       step="1"
                                       class="form-control input-sm"
                                       ng-blur="getCantidad($event)"
                                />
                                {% if form.form_productos.empty_form.cantidad.errors %}
                                   <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.cantidad.errors }} </div>
                                {% endif %}
                            </td>
                            <td class="producto">
                                {{form.form_productos.empty_form.estereotipo|attrs:"class:form-control searchable input-sm"}}
                                {% if form.form_productos.empty_form.estereotipo.errors %}
                                   <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.estereotipo.errors }} </div>
                                {% endif %}
                            </td>
                            <td class="alias">
                                {{form.form_productos.empty_form.alias|attrs:"class:form-control searchable input-sm"}}
                                {% if form.form_productos.empty_form.alias.errors %}
                                   <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.alias.errors }} </div>
                                {% endif %}
                            </td>
                            <td class="precio">
                                <input type="number"
                                       id="{{ form.form_productos.empty_form.precio_unidad.auto_id }}"
                                       name="{{form.form_productos.empty_form.precio_unidad.html_name}}"
                                       value="{{ form.form_productos.empty_form.precio_unidad.value }}"
                                       min="0"
                                       step="0.01"
                                       class="form-control input-sm"
                                       ng-blur="getInputTd($event)"
                                />
                                {% if form.form_productos.empty_form.precio_unidad.errors %}
                                   <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.precio_unidad.errors }} </div>
                                {% endif %}
                            </td>
                            <td class="total_fila">
                                <input type="text" class="total_producto form-control input-sm" value="" readonly>
                                <input type="hidden" class="total_producto" value="">
                            </td>
                            <td>
                                <span class="hidden">{{ form.propiedad_form.empty_form.DELETE }}</span>
                                <a class="btn btn-sm btn-danger delete" href="#" >
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>
                            </td>
                        </tr>'/>
                    </div>
                    <div class="col-sm-12 col-md-3 col-md-offset-2">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                <tr>
                                    <th>
                                        Subtotal
                                    </th>
                                    <td id="subtotal">
                                        0.00
                                    </td>
                                </tr>
                                <tr>
                                    <th id="iva_porcentaje">
                                        IVA
                                        <select class="">
                                            <option value="0.16">
                                                16%
                                            </option>
                                        </select>
                                    </th>
                                    <td id="iva">
                                        0.00
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Total
                                    </th>
                                    <td id="total">
                                        0.00
                                    </td>
                                </tr>
                                <!--<tr>
                                    <td colspan="2" style="text-align:center">
                                        <a href="#">
                                            <strong>Calcular total</strong>
                                        </a>
                                    </td>
                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="datosentrega">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Datos para entregas</h3>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.estratificacion.label_tag }}
                          {{ form.datos_entrega_form.estratificacion|bootstrap_class }}
                          {% if form.datos_entrega_form.estratificacion.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.estratificacion.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.garantia_tecnica.label_tag }}
                          {{ form.datos_entrega_form.garantia_tecnica|bootstrap_class }}
                          {% if form.datos_entrega_form.garantia_tecnica.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.garantia_tecnica.errors }} </div>
                          {% endif %}
                      </div>
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.norma_nacional.label_tag }}
                          {{ form.datos_entrega_form.norma_nacional|bootstrap_class }}
                          {% if form.datos_entrega_form.norma_nacional.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.norma_nacional.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.vigencia_cotizacion.label_tag }}
                          {{ form.datos_entrega_form.vigencia_cotizacion|bootstrap_class }}
                          {% if form.datos_entrega_form.vigencia_cotizacion.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.vigencia_cotizacion.errors }} </div>
                          {% endif %}
                      </div>
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.origen_bienes.label_tag }}
                          {{ form.datos_entrega_form.origen_bienes|bootstrap_class }}
                          {% if form.datos_entrega_form.origen_bienes.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.origen_bienes.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.plazo_condiciones.label_tag }}
                          {{ form.datos_entrega_form.plazo_condiciones|bootstrap_class }}
                          {% if form.datos_entrega_form.plazo_condiciones.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.plazo_condiciones.errors }} </div>
                          {% endif %}
                      </div>
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.declaracion_buena_fe.label_tag }}
                          {{ form.datos_entrega_form.declaracion_buena_fe|bootstrap_class }}
                          {% if form.datos_entrega_form.declaracion_buena_fe.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.declaracion_buena_fe.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          {{ form.datos_entrega_form.forma_pago.label_tag }}
                          {{ form.datos_entrega_form.forma_pago|bootstrap_class }}
                          {% if form.datos_entrega_form.forma_pago.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.forma_pago.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

</form>
{% endblock work %}
