{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    $('#id_cliente').on('change', function (e) {
        cliente_id = e.target.options[e.target.selectedIndex].value
        $.get('/api/ventas/cliente/'+ cliente_id +'/datos-entrega/')
        .done(function (res) {
            console.log(res);
            $('#id_lugar').val(res.lugar);
            $('#id_estratificacion').val(res.estratificacion);
            $('#id_forma_pago').val(res.forma_pago);
            $('#id_garantia_tecnica').val(res.garantia_tecnica);
            $('#id_norma_nacional').val(res.norma_nacional);
            $('#id_vigencia_cotizacion').val(res.vigencia_cotizacion);
            $('#id_origen_bienes').val(res.origen_bienes);
            $('#id_plazo_condiciones').val(res.plazo_condiciones);
            $('#id_declaracion_buena_fe').val(res.declaracion_buena_fe);
        })
        .fail(function (res) {
            console.log(res);
        })
    })
</script>
{% endblock javascript %}

{% block page_header %}Cotización de venta{% endblock page_header %}

{% block work %}
<input type="hidden" id="orden_venta" value="{{form.instance.id}}">
<form method="post">
    {% csrf_token %}
    <input type="hidden" id="redireccion" name="redireccion" value="list">
    <div class="panel panel-default">
      <div class="panel-body">
          <a href="{% url 'ventas.orden.list' %}" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
              Volver al inicio</a>
          <button class="btn btn-success btn-sm" type="submit">
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
              Guardar
          </button>
      </div>
    </div>
    {% include "fragments/messages.html" %}
    {# Empresa y código #}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.empresa.label_tag }}
            {{ form.empresa|bootstrap_class }}
            {% if form.empresa.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.empresa.errors }} </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {# Datos del cliente #}
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <span class="text-danger">*</span>
                    {{ form.cliente.label_tag }}
                    {{ form.cliente|bootstrap_class }}
                    {% if form.cliente.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.cliente.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form.contacto_cliente.label_tag }}
                    {{ form.contacto_cliente|bootstrap_class }}
                    {% if form.contacto_cliente.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.contacto_cliente.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <span class="text-danger">*</span>
                    {{ form.hospital.label_tag }}
                    {{ form.hospital|bootstrap_class }}
                    {% if form.hospital.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.hospital.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-md-6 col-sm-12">
                    {{ form.contacto_hospital.label_tag }}
                    {{ form.contacto_hospital|bootstrap_class }}
                    {% if form.contacto_hospital.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.contacto_hospital.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {# Datos de la operación #}
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.medico.label_tag }}
                    {{ form.medico|bootstrap_class }}
                    {% if form.medico.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.medico.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.paciente.label_tag }}
                    {{ form.paciente|bootstrap_class }}
                    {% if form.paciente.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.paciente.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {#  Fecha de cirugia #}
    <div class="row">
        <div class="col-md-4 col-md-offset-8 col-sm-12">
            {{ form.fecha_cirugia.label_tag }}
            {{ form.fecha_cirugia|bootstrap_class }}
            {% if form.fecha_cirugia.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.fecha_cirugia.errors }} </div>
            {% endif %}
        </div>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#productos" aria-controls="productos" role="tab" data-toggle="tab">Productos</a></li>
        <li role="presentation"><a href="#datosentrega" aria-controls="datosentrega" role="tab" data-toggle="tab">Datos para entregas</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="productos">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <h3 class="page-header">Información de productos</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <table id='productos' class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Precio por unidad
                                </th>
                                <th>
                                    Precio
                                </th>
                            </tr>
                        </thead>

                    </table>
                    <div class="col-sm-12 col-md-6">
                        <button type="submit" class="btn btn-sm btn-warning">
                            <span class="glyphicon glyphicon-plus"></span>
                            Agregar un producto
                        </button>
                    </div>
                    <div class="col-sm-12 col-md-3 col-md-offset-2">
                        <table class="table table-striped table-condensed">
                            <tbody>
                                <tr>
                                    <th>
                                        Subtotal
                                    </th>
                                    <td id="subtotal">
                                        0.00
                                    </td>
                                </tr>
                                <tr>
                                    <th id="iva_porcentaje">
                                        IVA
                                        <select class="">
                                            <option value="0.16">
                                                16%
                                            </option>
                                        </select>
                                    </th>
                                    <td id="iva">
                                        0.00
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Total
                                    </th>
                                    <td id="total">
                                        0.00
                                    </td>
                                </tr>
                                <!--<tr>
                                    <td colspan="2" style="text-align:center">
                                        <a href="#">
                                            <strong>Calcular total</strong>
                                        </a>
                                    </td>
                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="datosentrega">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Datos para entregas</h3>
              </div>
              <div class="panel-body">
                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.estratificacion.label_tag }}
                          {{ form.datos_entrega_form.estratificacion|bootstrap_class }}
                          {% if form.datos_entrega_form.estratificacion.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.estratificacion.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.garantia_tecnica.label_tag }}
                          {{ form.datos_entrega_form.garantia_tecnica|bootstrap_class }}
                          {% if form.datos_entrega_form.garantia_tecnica.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.garantia_tecnica.errors }} </div>
                          {% endif %}
                      </div>
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.norma_nacional.label_tag }}
                          {{ form.datos_entrega_form.norma_nacional|bootstrap_class }}
                          {% if form.datos_entrega_form.norma_nacional.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.norma_nacional.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.vigencia_cotizacion.label_tag }}
                          {{ form.datos_entrega_form.vigencia_cotizacion|bootstrap_class }}
                          {% if form.datos_entrega_form.vigencia_cotizacion.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.vigencia_cotizacion.errors }} </div>
                          {% endif %}
                      </div>
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.origen_bienes.label_tag }}
                          {{ form.datos_entrega_form.origen_bienes|bootstrap_class }}
                          {% if form.datos_entrega_form.origen_bienes.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.origen_bienes.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.plazo_condiciones.label_tag }}
                          {{ form.datos_entrega_form.plazo_condiciones|bootstrap_class }}
                          {% if form.datos_entrega_form.plazo_condiciones.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.plazo_condiciones.errors }} </div>
                          {% endif %}
                      </div>
                      <div class="col-md-6 col-sm-12">
                          {{ form.datos_entrega_form.declaracion_buena_fe.label_tag }}
                          {{ form.datos_entrega_form.declaracion_buena_fe|bootstrap_class }}
                          {% if form.datos_entrega_form.declaracion_buena_fe.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.declaracion_buena_fe.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          {{ form.datos_entrega_form.forma_pago.label_tag }}
                          {{ form.datos_entrega_form.forma_pago|bootstrap_class }}
                          {% if form.datos_entrega_form.forma_pago.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.forma_pago.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>

</form>
{% endblock work %}
