{% extends "admin.html" %}
{% load staticfiles %}

{% block work %}
    <div class="row">
        <div class="panel panel-default">
          <div class="panel-body">
              <a href="{% url 'ventas.orden.list' %}" class="btn btn-default btn-sm">
                  <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                  Volver al inicio</a>
                {% if orden.status == 'enlicitacion' %}
                    <a href="{% url 'ventas.orden.adjudicar' orden.id %}" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        Adjudicar
                    </a>
                    <a href="{% url 'ventas.orden.rechazar' orden.id %}" class="btn btn-warning btn-sm">
                        <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                        Rechazar
                    </a>
                {% endif %}
              <a href="{% url 'ventas.orden.detail.pdf' orden.id %}" class="btn btn-danger btn-sm">
                  <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                  Exportar a PDF
              </a>
          </div>
        </div>
    </div>
    {% if orden.status == 'rechazada' %}
        <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title">{{orden.verbose_status}}</h3>
            </div>
            <div class="panel-body">
              {{orden.comentario_rechazo}}
            </div>
        </div>
    {% elif orden.status == 'porenviar' %}
        <div class="well">
            {{orden.verbose_status}}
        </div>
    {% else %}
        <div class="alert alert-{{orden.color_status}} alert-dismissible" role="alert">
            {{orden.verbose_status}}
        </div>
    {% endif %}
    <ul style='margin-top:1em;' class="nav nav-tabs" id="tabs">
        <li class="active"><a href="#cotizacion">Cotización</a></li>
        <li><a href="#pedidos">Pedidos de Compra</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="cotizacion">
            {% include "ventas/orden/fragments/detail.html" %}
        </div>
        <!-- Tab para los pedidos de compra asociados -->
        <div role="tabpanel" class="tab-pane" id="pedidos">
            <h3>Pedidos de compra asociados</h3>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            <a href="#">Estatus</a>
                        </th>
                        <th>
                            <a href="#">Producto</a>
                        </th>
                        <th>
                            <a href="#">Proveedor</a>
                        </th>
                        <th>
                            <a href="#">Cantidad</a>
                        </th>
                        <th>
                            <a href="#">Precio Unitario</a>
                        </th>
                        <th>
                            <a href="#">Fecha compromiso</a>
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in orden.pedidos_de_compra.all %}
                        <td>
                            {{pedido.verbose_status}}
                        </td>
                        <td>
                            {{pedido.producto}}
                        </td>
                        <td>
                            {{pedido.proveedor}}
                        </td>
                        <td>
                            {{pedido.cantidad}}
                        </td>
                        <td>
                            {{pedido.precio_unidad}}
                        </td>
                        <td>
                            {{pedido.fecha_compromiso|date:"SHORT_DATE_FORMAT"}}
                        </td>
                        <td>
                            {% if pedido.status == 'porenviar' %}
                                <a href="{% url 'compras.pedido.activar' pedido.id %}" class="btn btn-success btn-sm">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    Activar
                                </a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock work %}

{% block javascript %}
<script src="{% static 'js/ventas/table_orden_informe.js' %}" charset="utf-8"></script>
<script type="text/javascript">
    $('#tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>
{% endblock javascript %}
