{% extends "admin.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="{% static 'js/ventas/ciudades_por_estados.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}{{titulo}}{% endblock page_header %}

{% block work %}
<form method="post" enctype="multipart/form-data">
    {% include "fragments/form.html" %}
</form>
{% endblock work %}
