{% extends "table_list.html" %}

{% block page_header %}
{{titulo}}
<a href="{% url route_create %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if objects %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    {% block theaders %}
                        <th>
                            Logo
                        </th>
                        <th>
                            <a href="#">Nombre</a>
                        </th>
                        <th>
                            <a href="#">Dirección</a>
                        </th>
                        <th>
                            <a href="#">Estado</a>
                        </th>
                        <th>
                            <a href="#">Ciudad</a>
                        </th>
                    {% endblock theaders %}
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects %}
                    <tr>
                        {% block tdatas %}
                            <td style="text-align:center;">
                                {% if object.logo %}
                                    <img src="/media/{{ object.logo }}" alt="logo" class="avatar" height="50" />
                                {% endif %}
                            </td>
                            <td>
                                {{object.nombre}}
                            </td>
                            <td>
                                {{object.direccion}}
                            </td>
                            <td>
                                {{object.estado}}
                            </td>
                            <td>
                                {{object.ciudad}}
                            </td>
                        {% endblock tdatas %}
                        <td>
                            <a href="{% url route_detail object.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url route_edit object.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url route_delete object.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <p>
            No hay ninguna figura moral registrado
        </p>
    {% endif %}
{% endblock work %}
