<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Nombres
            </th>
            <td>
                {{ propiedad.nombre }}
            </td>
        </tr>
    </tbody>
</table>
