{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/core/propiedades_producto.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Producto{% endblock page_header %}

{% block work %}
<form method="post">{% csrf_token %}
    {% include "fragments/buttons_form.html" with list_url='productos.list' %}
    {% if redirection %}
        <input type="hidden" name="redirection" value="{{redirection}}">
    {% endif %}
    <div class="row">
        <div class="col-md-4 col-sm-12">
            {{ form.codigo.label_tag }}
            {{ form.codigo|bootstrap_class }}
            {% if form.codigo.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.codigo.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-12">
            {{ form.categoria.label_tag }}
            {{ form.categoria|bootstrap_class }}
            {% if form.categoria.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.categoria.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-4 col-sm-12">
            {{ form.subcategoria.label_tag }}
            {{ form.subcategoria|bootstrap_class }}
            {% if form.subcategoria.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.subcategoria.errors }} </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            {{ form.nombre.label_tag }}
            {{ form.nombre|bootstrap_class }}
            {% if form.nombre.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.nombre.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            {{ form.marca.label_tag }}
            {{ form.marca|bootstrap_class }}
            {% if form.marca.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.marca.errors }} </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion|bootstrap_class }}
            {% if form.descripcion.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.descripcion.errors }} </div>
            {% endif %}
        </div>
    </div>
    {% if form.propiedad_form %}
        <h3>Propiedades</h3>
        <div id="container_propiedad">
            {{ form.propiedad_form.management_form }}
            {% for form in form.propiedad_form %}
                <div class="row">
                    {{form.id}}
                    <div class="col-sm-5">
                        {{form.propiedad.label_tag}}
                        {{form.propiedad|bootstrap_class}}
                        {% if form.propiedad.errors %}
                           <div class="alert alert-danger" role="alert"> {{ form.propiedad.errors }} </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-5">
                        {{form.valor.label_tag}}
                        {{form.valor|bootstrap_class}}
                        {% if form.valor.errors %}
                           <div class="alert alert-danger" role="alert"> {{ form.valor.errors }} </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-2">
                        <span class="hidden">{{ form.DELETE }}</span>
                        <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <a class="btn btn-sm btn-success add_more" href="#">
                <span class="glyphicon glyphicon-plus"></span>
                Agregar otro atributo
            </a>
            <input type="hidden" id="empty_form_propiedad" value=' <div class="row">
                <div class="col-sm-5">
                {{form.propiedad_form.empty_form.propiedad.label_tag}}
                {{form.propiedad_form.empty_form.propiedad|bootstrap_class}}
                {% if form.propiedad_form.empty_form.propiedad.errors %}
                   <div class="alert alert-danger" role="alert"> {{ form.propiedad_form.empty_form.propiedad.errors }} </div>
                {% endif %}
            </div>
            <div class="col-sm-5">
                {{form.propiedad_form.empty_form.valor.label_tag}}
                {{form.propiedad_form.empty_form.valor|bootstrap_class}}
                {% if form.propiedad_form.empty_form.valor.errors %}
                   <div class="alert alert-danger" role="alert"> {{ form.propiedad_form.empty_form.valor.errors }} </div>
                {% endif %}
            </div>
            <div class="col-sm-2">
                <span class="hidden">{{ form.propiedad_form.empty_form.DELETE }}</span>
                <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </a>
            </div>
        </div>
             '>
        </div>
    {% endif %}
</form>
{% endblock work %}
