{% extends "table_list.html" %}

{% block page_header %}
Productos
<a href="{% url 'productos.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if productos %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        <a href="#">Tipo</a>
                    </th>
                    <th>
                        <a href="#">Categoría</a>
                    </th>
                    <th>
                        <a href="#">Nombre</a>
                    </th>
                    <th>
                        <a href="#">Marca</a>
                    </th>
                    <th>
                        <a href="#">Medida</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr>
                        <td>
                            {{producto.id}}
                        </td>
                        <td>
                            {% if producto.categoria != None %}
                                {{producto.categoria}}
                            {% endif %}
                        </td>
                        <td>
                            {% if producto.subcategoria != None %}
                                {{producto.subcategoria}}
                            {% endif %}
                        </td>
                        <td>
                            {{producto.nombre}}
                        </td>
                        <td>
                            {% if producto.marca != None %}
                                {{producto.marca}}
                            {% endif %}
                        </td>
                        <td>
                            {% if producto.medidas %}
                                <ul>
                                    {% for medida in producto.medidas %}
                                        <li>{{medida.valor}}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'productos.detail' producto.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'productos.update' producto.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'productos.delete' producto.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else%}
        <p>
            No ha registrado ningun producto aun
        </p>
    {% endif %}

{% endblock work %}
