{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block titulo %}{% endblock titulo %}</title>
        <link rel="stylesheet" href="{% static 'css/ventas/style.css' %}" media="screen" title="no title" charset="utf-8">
        {% block stylesheet %}{% endblock stylesheet %}
    </head>
    <body>
        <div class="container">
                {% block body %}{% endblock body %}
        </div>
        <script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
        {% block javascript %}{% endblock javascript %}
    </body>
</html>
