{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/almacen/ubicaciones_almacen.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Almacen{% endblock page_header %}

{% block work %}
<form method="post">
    {% include "fragments/buttons_form.html" with list_url='almacen.list' %}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos del almacén</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.descripcion.label_tag }}
                            {{ form.descripcion|bootstrap_class }}
                            {% if form.descripcion.errors %}
                               <div class='alert alert-danger' role="alert"> {{ form.descripcion.errors }} </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.estado.label_tag }}
                            {{ form.estado|bootstrap_class }}
                            {% if form.estado.errors %}
                               <div class='alert alert-danger' role="alert"> {{ form.estado.errors }} </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.ciudad.label_tag }}
                            {{ form.ciudad|bootstrap_class }}
                            {% if form.ciudad.errors %}
                               <div class='alert alert-danger' role="alert"> {{ form.ciudad.errors }} </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.direccion.label_tag }}
                            {{ form.direccion|bootstrap_class }}
                            {% if form.direccion.errors %}
                               <div class='alert alert-danger' role="alert"> {{ form.direccion.errors }} </div>
                            {% endif %}
                        </div>
                    </div>
                </div> <!--Cierre del panel body-->
            </div> <!--Cierre del panel-->
        </div> <!--Cierre de la columna-->
        <div class="col-md-6 col-sm-12">
            {% if form.ubicacion_form %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Ubicaciones internas</h3>
                </div>
                <div class="panel-body">
                    <div id="container_ubicaciones">
                        {{ form.ubicacion_form.management_form }}
                        {% for form in form.ubicacion_form %}
                            <div class="row">
                                {{form.id}}
                                <div class="col-sm-11">
                                    {{form.descripcion.label_tag}}
                                    {{form.descripcion|bootstrap_class}}
                                    {% if form.descripcion.errors %}
                                       <div class="alert alert-danger" role="alert"> {{ form.descripcion.errors }} </div>
                                    {% endif %}
                                </div>
                                <div style="padding:0;" class="col-sm-1">
                                    <span class="hidden">{{ form.DELETE }}</span>
                                    <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div style="padding-top:1em;" class="col-md-12">
                        <a class="btn btn-sm btn-success add_more" href="#">
                            <span class="glyphicon glyphicon-plus"></span>
                            Agregar otra ubicación
                        </a>
                        <input type="hidden" id="empty_form_ubicacion" value='
                            <div class="row">
                            <div class="col-sm-11">
                                {{form.ubicacion_form.empty_form.descripcion.label_tag}}
                                {{form.ubicacion_form.empty_form.descripcion|bootstrap_class}}
                                {% if form.ubicacion_form.empty_form.descripcion.errors %}
                                   <div class="alert alert-danger" role="alert"> {{ form.ubicacion_form.empty_form.descripcion.errors }} </div>
                                {% endif %}
                            </div>
                            <div style="padding:0;" class="col-sm-1">
                                <span class="hidden">{{ form.ubicacion_form.empty_form.DELETE }}</span>
                                <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>
                            </div>
                        </div>
                         '>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</form>
{% endblock work %}
