{% extends "table_list.html" %}

{% block page_header %}
Almacenes
<a href="{% url 'almacen.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if almacenes %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Descripción</a>
                    </th>
                    <th>
                        <a href="#">Direccion</a>
                    </th>
                    <th>
                        <a href="#">Estado</a>
                    </th>
                    <th>
                        <a href="#">Ciudad</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for almacen in almacenes %}
                    <tr>
                        <td>
                            {{almacen.descripcion}}
                        </td>
                        <td>
                            {{almacen.direccion}}
                        </td>
                        <td>
                            {{almacen.estado}}
                        </td>
                        <td>
                            {{almacen.ciudad}}
                        </td>
                        <td>
                            <a href="{% url 'almacen.detail' almacen.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'almacen.update' almacen.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'almacen.delete' almacen.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else%}
        <div class="alert alert-info message-empty-table" role="alert">
            No hay ningun almacén registrado
        </div>
    {% endif %}

{% endblock work %}
