<select ng-model="producto.categoria" id="categoria" material-select watch>
    <option ng-repeat="categoria in categorias" value="{{ categoria.id }}" >
        {{ categoria.nombre }}
    </option>
</select>
