<tr data-model="<%= modelo %>">
    <td>
        <input type="text" ng-model="<%= modelo %>.nombre">
    </td>
    <td>
        <select class="browser-default" ng-model="<%= modelo %>.marca">
            <option ng-repeat="marca in marcas" value="{{ marca.id }}" >
                {{ marca.nombre }}
            </option>
        </select>
    </td>
    <td>
        <input type="text" ng-model="<%= modelo %>.valor_unidad_medicion">
    </td>
    <td>
        <select class="browser-default" ng-model="<%= modelo %>.unidad_medicion">
            <option ng-repeat="unidad in unidades" value="{{ unidad.id }}" >
                {{ unidad.estandar }}
            </option>
        </select>
    </td>
    <td>
        <a class="btn-floating red" ng-click="removeRow($event)"><i class="material-icons">remove</i></a>
    </td>
</tr>
