<h1>Agregar nuevo hospital</h1>
<form ng-submit="saveHospital()">
    <input type="text" name="nombre" ng-model="hospital.nombre">
    <div class="input-field">
        <textarea class="materialize-textarea" name="direccion" ng-model="hospital.direccion"></textarea>
    </div>
    <a href="#/hospital" class="btn"><i class="material-icons">arrow_back</i></a>
    <button type="submit" class="btn" ><i class="material-icons">send</i></button>
</form>
