<h1>Hospitales</h1>
<table class="bordered highlight">
    <thead>
        <tr>
            <th>
                nombre
            </th>
            <th>
                Dirección
            </th>
        </tr>
    </thead>
    <tbody ng-repeat='hospital in hospitales'>
        <tr>
            <td>
                {{ hospital.nombre }}
            </td>
            <td>
                {{ hospital.direccion }}
            </td>
            <td>
                <a href="/#/hospital/{{hospital.id}}" class="btn-floating"><i class="material-icons">visibility</i></a>
                <a href="/#/hospital/{{hospital.id}}/edit" class="btn-floating orange"><i class="material-icons">mode_edit</i></a>
                <a ng-click="removeHospital(hospital)" class="btn-floating red"><i class="material-icons">delete</i></a>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn-floating btn-large waves-effect waves-light red" href="/#/hospital/create"><i class="material-icons">add</i></a>
