<h3>{{ hospital.nombre }}</h3>
<p>Dirección:</p>
<p>
    {{ hospital.direccion}}
</p>
<a href="/#/hospital" class="btn"><i class="material-icons">arrow_back</i></a>
<a href="/#/hospital/{{hospital.id}}/edit" class="btn orange"><i class="material-icons">mode_edit</i></a>
