
/***********************************

Modificacones de componentes del DOM

***********************************/

body{
    padding-top: 70px;
}



/***********************************

        Clases personalizadas

***********************************/

.form-group {
    margin-bottom: inherit;
}

.brand-logo{
    padding-left:.75rem;
}

.brand-logo img{
    max-width: 92%;
}

#breadcrumbs{
  overflow: hidden;
  width: 100%;
}

#breadcrumbs li{
  float: left;
  margin: 0 .5em 0 1em;
}

#breadcrumbs a{
  background: #ddd;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  position: relative;
}

#breadcrumbs a:hover{
  background: #99db76;
}

#breadcrumbs a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#breadcrumbs a:hover::before{
  border-color: #99db76 #99db76 #99db76 transparent;
}

#breadcrumbs a::after{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

#breadcrumbs a:hover::after{
  border-left-color: #99db76;
}

#breadcrumbs .current,
#breadcrumbs .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs .current::after,
#breadcrumbs .current::before{
  content: normal;
}

/* Fin de breadcrumbs */

/******************************

     Contacto de empresas

 ******************************/

 .contacto{
     border: dashed 1px grey;
     border-radius: 5px;
     display: block;
     margin-bottom: .5em;
     padding: 1em;
 }
 .contacto:hover{
     background-color: #ddd;
 }
 .contacto, .contacto:hover, .contacto:active{
     text-decoration: none;
     color:initial;
 }
 .addcontacto{
     margin-top: .5em;
 }

/**************** Fin de contacto *****************/


/******************************

              Arbol

 ******************************/

 .arbol{
     font-size: 1.1em;
 }

 .arbol li{
     margin-top: .5em;
 }

 .arbol li a{
     margin-left: .5em;
 }

 .arbol .titulo, .arbol .titulo:hover, .arbol .titulo:active{
     color: #15a589;
     font-weight: bold;
 }

 .well.contenedor{
     margin-top: 1.5em;
 }


/********* Fin de arbol *******/

.collection-visible{
    display: inherit;
}

.data-grid{
    margin-top: .5rem;
}

.message-empty-table{
    margin-top: 2em;
}

.td-actions{
    width: 9em;
}

.td-actions.lg{
    width: 12em;
}

.chosen-container a:not(.btn) {
    text-decoration: inherit;
}

.table-list{
    margin-top: 1em;
}

.nav>li.parentlevel2>a{
    padding-bottom: .5em;
}

.nav>li.sublevel3>a{
    font-size: .9em;
    letter-spacing: .1em;
    padding-left: 2em;
    padding-top: .5em;
}

#container_telefono div{
    margin-bottom: .5em;
}
