<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Código
            </th>
            <td>
                {{ producto.codigo }}
            </td>
        </tr>
        <tr>
            <th>
                Nombre
            </th>
            <td>
                {{ producto.nombre }}
            </td>
        </tr>
        <tr>
            <th>
                Categoría
            </th>
            <td>
                {{ producto.categoria}}
            </td>
        </tr>
        <tr>
            <th>
                Descripción
            </th>
            <td>
                {{producto.descripcion}}
            </td>
        </tr>
    </tbody>
</table>
