<form name="productos" form-step-validity>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <label for="proveedores">Proveedor</label>
            <select required ng-change="filtrar()" class="form-control input-sm" id="proveedores" ng-model="proveedor_selected" name="proveedores">
                <option value="">--------</option>
                <option ng-repeat="proveedor in proveedores" value="{{proveedor.id}}">{{proveedor.nombre}}</option>
            </select>
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="almacenes">Almacen</label>
            <select required ng-change="filtrar()" class="form-control input-sm" id="almacen" ng-model="almacen_selected" name="proveedor">
                <option value="">--------</option>
                <option ng-repeat="almacen in almacenes" value="{{almacen.id}}">{{almacen.descripcion}}</option>
            </select>
        </div>
        <div class="col-md-4 col-sm-12">
            <label for="periodo">Periodo</label>
            <select ng-change="filtrar()" class="form-control input-sm" id="periodo" name="periodo" ng-model="periodo_selected">
                <option value="">--------</option>
                <option value="semana">Una semana</option>
                <option value="mes">Un mes</option>
                <option value="tresmeses">3 meses</option>
                <option value="vacio">Sin fecha asignada</option>
            </select>
        </div>
    </div>

    <table class="table table-bordered table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Añadir
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Proveedor
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Fecha compromiso
                </th>
                <th>
                    Almacen
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in productos_filtered">
                <td>
                    <input ng-change="toggle()" ng-model="producto.add" type="checkbox" id="producto_{{producto.id}}" value="{{producto.id}}">
                </td>
                <td>
                    <label for="producto_{{producto.id}}">{{producto.estereotipo_verbose}}</label>
                </td>
                <td>
                    <label for="producto_{{producto.id}}">{{producto.proveedor_verbose}}</label>
                </td>
                <td>
                    <label for="producto_{{producto.id}}">{{producto.cantidad}}</label>
                </td>
                <td>
                    <label for="producto_{{producto.id}}">{{producto.fecha_compromiso.format('DD/MM/YYYY H:mm')}}</label>
                </td>
                <td>
                    <label for="producto_{{producto.id}}">{{producto.almacen_destino}}</label>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<script type="text/javascript" src="/static/js/core/widgets/select_searchable.js" charset="utf-8"></script>
{{filtrar()}}
