<form name="pedido" form-step-validity>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <label for="empresa">Empresa</label>
        <select required ng-model="data.empresa" class="form-control input-sm" id="empresa">
            <option value="">--------</option>
            <option ng-repeat="empresa in empresas" value="{{empresa.id}}">{{empresa.nombre}}</option>
        </select>
    </div>
    <div class="col-md-6 col-sm-12">
        <label for="almacen_destino">Álmacen de destino</label>
        <select required ng-model="data.almacen_destino" class="form-control input-sm" id="almacen_destino">
            <option value="">--------</option>
            <option ng-repeat="almacen in almacenes" value="{{almacen.id}}">{{almacen.descripcion}}</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <label for="proveedor">Proveedor</label>
        <select required ng-model="data.proveedor" class="form-control input-sm" id="proveedor">
            <option value="">--------</option>
            <option ng-repeat="proveedor in proveedores" value="{{proveedor.id}}">{{proveedor.nombre}}</option>
        </select>
    </div>
    <div class="col-md-6 col-sm-12">
        <label for="fecha_compromiso">Fecha compromiso</label>
        <div class="row">
            <div class="col-sm-12">
                <input type="text"
                class="form-control input-sm"
                data-date-time-picker
                ng-model="data.fecha_compromiso"
                id="fecha_compromiso" />
            </div>
        </div>
    </div>
</div>
<pre>
    Fecha compromiso:
    {{data.fecha_compromiso|json}}
</pre>
<div class="col-md-12">
    <table id='productos' class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    Cantidad
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Precio por unidad
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto_add in productos_adds">
                <td>
                    {{producto_add.cantidad}}
                </td>
                <td>
                    {{producto_add.estereotipo_verbose}}
                </td>
                <td>
                    {{producto_add.precio_unidad}}
                </td>
                <td>
                    {{producto_add.precio}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
</form>
<script type="text/javascript" src="/static/js/core/widgets/select_searchable.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/core/widgets/datepicker.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/core/widgets/datetimepicker.js" charset="utf-8"></script>
