<div class="row">
    <div class="col-md-6 col-sm-12">
        <label for="empresa">Empresa</label>
        {{data.empresa}}
    </div>
    <div class="col-md-6 col-sm-12">
        <label for="almacen_destino">Álmacen de destino</label>
        {{data.almacen_destino}}
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <label for="proveedor">Proveedor</label>
        {{data.proveedor}}
    </div>
    <div class="col-md-6 col-sm-12">
        <label for="fecha_compromiso">Fecha compromiso</label>
        {{data.fecha_compromiso}}
    </div>
</div>


<div class="col-md-12">
    <table id='productos' class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    Cantidad
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Precio por unidad
                </th>
                <th>
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto_add in productos_adds">
                <td>
                    {{producto_add.cantidad}}
                </td>
                <td>
                    {{producto_add.estereotipo_verbose}}
                </td>
                <td>
                    {{producto_add.precio_unidad}}
                </td>
                <td>
                    {{producto_add.precio}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
