{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/ventas/telefonos_orden.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Hospital{% endblock page_header %}

{% block work %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% include "fragments/buttons_form.html" with list_url='hospital.list' %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    {{ form.logo.label_tag }}
                    {{ form.logo|bootstrap_class }}
                    {% if form.logo.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.logo.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.nombre.label_tag }}
                    {{ form.nombre|bootstrap_class }}
                    {% if form.nombre.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.nombre.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.abreviatura.label_tag }}
                    {{ form.abreviatura|bootstrap_class }}
                    {% if form.abreviatura.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.abreviatura.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.cliente_asociado.label_tag }}
                    {{ form.cliente_asociado|bootstrap_class }}
                    {% if form.cliente_asociado.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.cliente_asociado.errors }} </div>
                    {% endif %}
                </div>
            </div>
            {% include "ventas/fragments/telefono_modelformset.html" %}
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.estado.label_tag }}
                    {{ form.estado|bootstrap_class }}
                    {% if form.estado.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.estado.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{ form.ciudad.label_tag }}
                    {{ form.ciudad|bootstrap_class }}
                    {% if form.ciudad.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.ciudad.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.direccion.label_tag }}
                    {{ form.direccion|bootstrap_class }}
                    {% if form.direccion.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.direccion.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.lugar_entrega.label_tag }}
                    {{ form.lugar_entrega|bootstrap_class }}
                    {% if form.lugar_entrega.errors %}
                       <div class='alert alert-danger' role="alert"> {{ form.lugar_entrega.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include "ventas/fragments/add_contactos.html" with url_redirect='hospital.update' %}
</form>
{% endblock work %}
