{% extends "table_list.html" %}

{% block page_header %}
Hospitales
<a href="{% url 'hospital.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if hospitales %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Nombre</a>
                    </th>
                    <th>
                        <a href="#">Dirección</a>
                    </th>
                    <th>
                        <a href="#">Estado</a>
                    </th>
                    <th>
                        <a href="#">Ciudad</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for hospital in hospitales %}
                    <tr>
                        <td>
                            {{hospital.nombre}}
                        </td>
                        <td>
                            {{hospital.direccion}}
                        </td>
                        <td>
                            {{hospital.estado}}
                        </td>
                        <td>
                            {{hospital.ciudad   }}
                        </td>
                        <td>
                            <a href="{% url 'hospital.detail' hospital.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'hospital.update' hospital.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'hospital.delete' hospital.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <p>
            No hay ningun hospital registrado
        </p>
    {% endif %}
{% endblock work %}
