<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Nombres
            </th>
            <td>
                {{ medico.nombres }}
            </td>
        </tr>
        <tr>
            <th>
                Apellidos
            </th>
            <td>
                {{medico.apellidos}}
            </td>
        </tr>
        <tr>
            <th>
                Hospital
            </th>
            <td>
                {{medico.hospital}}
            </td>
        </tr>
        <tr>
            <th>
                Especialidad
            </th>
            <td>
                {{medico.especialidad}}
            </td>
        </tr>
        <tr>
            <th>
                Subespecialidad
            </th>
            <td>
                {{medico.subespecialidad}}
            </td>
        </tr>
        <tr>
            <th>
                Estado
            </th>
            <td>
                {{medico.estado}}
            </td>
        </tr>
        <tr>
            <th>
                Ciudad
            </th>
            <td>
                {{medico.ciudad}}
            </td>
        </tr>
    </tbody>
</table>
