{% extends "table_list.html" %}

{% block page_header %} {{ estereotipo.nombre }} {% endblock page_header %}

{% block work %}

    {% if estereotipo.productos %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Código</a>
                    </th>
                    <th>
                        <a href="#">Almacen</a>
                    </th>
                    <th>
                        <a href="#">Fecha entrada</a>
                    </th>
                    <th>
                        <a href="#">Proveedor</a>
                    </th>
                    <th>
                        <a href="#">Pedido de Compra</a>
                    </th>
                    <th>
                        <a href="#">Fecha de caducidad</a>
                    </th>
                    <th>
                        <a href="#">Ubicación</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for producto in estereotipo.productos.all %}
                    <tr>
                        <td>
                            {{producto.codigo}}
                        </td>
                        <td>
                            {{producto.cliente}}
                        </td>
                        <td>
                            {{producto.fecha_entrada}}
                        </td>
                        <td>
                            {{producto.proveedor}}
                        </td>
                        <td>
                            {{producto.pedido}}
                        </td>
                        <td>
                            {{producto.fecha_vencimiento}}
                        </td>
                        <td>
                            {{producto.ubicacion}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock work %}
