{% extends "table_list.html" %}

{% block page_header %}Productos{% endblock page_header %}

{% block work %}
{% if productos %}
    <table class="table table-striped table-bordered table-condensed table-list">
        <thead>
            <tr>
                <th>
                    <a href="#">Código</a>
                </th>
                <th>
                    <a href="#">Nombre</a>
                </th>
                <th>
                    <a href="#">Existencia Fisica</a>
                </th>
                <th>
                    <a href="#">Disponible (menos venta)</a>
                </th>
                <th>
                    <a href="#">Existencia Total (más compra)</a>
                </th>
                <th>
                    <a href="#">Categoría</a>
                </th>
                <th>
                    <a href="#">Marca</a>
                </th>
                <th>
                    <a href="#">Medida</a>
                </th>
                <th>
                    <a href="#">Precio</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
                <tr>
                    <td>
                        {{producto.id}}
                    </td>
                    <td>
                        <a href="{% url 'producto.individual' producto.id %}">{{producto.nombre}}</a>
                    </td>
                    <td>
                        {{producto.existencia_fisica}}
                    </td>
                    <td>
                        {{producto.existencia_real}}
                    </td>
                    <td>
                        {{producto.existencia_virtual}}
                    </td>
                    <td>
                        {{producto.categoria}}
                    </td>
                    <td>
                        {{producto.marca}}
                    </td>
                    <td>
                        {% if producto.medidas %}
                                {% for medida in producto.medidas %}
                                    {{ medida.valor }}
                                {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {{producto.precio_unidad}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "fragments/simple_pagination.html" %}
{% else%}
    <div class="alert alert-info message-empty-table" role="alert">
        No hay productos registrados en el sistema, por favor agregue uno
    </div>
{% endif %}

{% endblock work %}
