{% extends "admin.html" %}
{% load filtros %}

{% block page_header %}Aprobar postulación{% endblock page_header %}

{% block work %}


    <form method="post">{% csrf_token %}
        {% include "fragments/buttons_form.html" with list_url='compras.requisicion.list' %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Proveedores</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Producto
                                </th>
                                <th>
                                    Precio
                                </th>
                                <th>
                                    Tiempo de entrega
                                </th>
                                <th>
                                    Stock (Estado)
                                </th>
                                <th>
                                    Stock (Ciudad)
                                </th>
                                <th>
                                    Efectivo
                                </th>
                                <th>
                                    Pago anticipado
                                </th>
                                <th>
                                    Pago contra entrega
                                </th>
                                <th>
                                    Credito
                                </th>
                                <th>
                                    Plazo de pago
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ form.management_form }}
                            {% for proveedor in proveedores %}
                          {% for form in form %}
                              {% if proveedor == form.instance.proveedor %}
                                  {{form.id}}
                                      <tr>
                                          <td>
                                              {{form.aprobada}}
                                              {% if form.aprobada.errors %}
                                                 <div class="alert alert-danger" role="alert"> {{ form.aprobada.errors }} </div>
                                              {% endif %}
                                              <label for="{{ form.aprobada.id_for_label }}">
                                                  {{ form.instance.proveedor }}
                                              </label>
                                          </td>
                                          <td>
                                              {% if form.instance.precio_unidad is not None %}
                                                {{ form.instance.precio_unidad }}
                                              {% endif %}
                                          </td>
                                          <td>
                                             {% if form.instance.tiempo_entrega is not None %}
                                                {{ form.instance.tiempo_entrega }}
                                             {% endif %}
                                          </td>
                                          <td>
                                              {% if form.instance.stock_estado is not None %}
                                                {{ form.instance.stock_estado }}
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if form.instance.stock_ciudad is not None %}
                                                {{ form.instance.stock_ciudad }}
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if form.instance.efectivo %}
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                              {% else %}
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if form.instance.prepago %}
                                                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                {% else %}
                                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if form.instance.pago_entrega %}
                                                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                {% else %}
                                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if form.instance.credito %}
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                              {% else %}
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                              {% endif %}
                                          </td>
                                          <td>
                                              {% if form.instance.credito %}
                                                {{form.instance.plazo_pago}}
                                              {% endif %}
                                          </td>
                                      </tr>
                              {% endif %}
                          {% endfor %}
                          {% endfor %}
                      </tbody>
                     </table>
            </div>
        </div>
    </form>

{% endblock work %}
