{% extends "admin.html" %}
{% load filtros %}
{% load staticfiles %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/compras/requisicion/proveedores_requisicion.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Cotizadores{% endblock page_header %}

{% block work %}

    <form method="post">{% csrf_token %}

        {% if form %}
            {% include "fragments/buttons_form.html" with list_url='compras.requisicion.list' %}
            <div id="container_proveedor">
                {{ form.management_form }}
                {% for form in form %}
                <div class="row">
                    {{form.id}}
                    <div class="col-sm-10">
                        {{form.proveedor.label_tag}}
                        {{form.proveedor|bootstrap_class}}
                        {% if form.proveedor.errors %}
                           <div class="alert alert-danger" role="alert"> {{ form.proveedor.errors }} </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-2">
                        <span class="hidden">{{ form.DELETE }}</span>
                        <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div>
                <a class="btn btn-sm btn-success add_more" href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar otro proveedor
                </a>
                <input type="hidden" id="empty_form_proveedor" value=' <div class="row">
                    <div class="col-sm-10">
                    {{form.empty_form.proveedor.label_tag}}
                    {{form.empty_form.proveedor|bootstrap_class}}
                    {% if form.empty_form.proveedor.errors %}
                       <div class="alert alert-danger" role="alert"> {{ form.empty_form.proveedor.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    <span class="hidden">{{ form.empty_form.DELETE }}</span>
                    <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
                </div>
            </div>
                 '>
            </div>
        {% endif %}

    </form>

{% endblock work %}
