{% extends "admin.html" %}
{% load filtros %}
{% load staticfiles %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/compras/requisicion/productos_requisicion.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Requisiciones{% endblock page_header %}

{% block work %}

    <form method="post">{% csrf_token %}
        {% include "fragments/buttons_form.html" with list_url='compras.requisicion.list' %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        {{ form.codigo.label_tag }}
                        {{ form.codigo|bootstrap_class }}
                        {% if form.codigo.errors %}
                        <div class='alert alert-danger' role="alert"> {{ form.codigo.errors }} </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-danger">*</span>
                        {{ form.estereotipo.label_tag }}
                        {{ form.estereotipo|bootstrap_class }}
                        {% if form.estereotipo.errors %}
                        <div class='alert alert-danger' role="alert"> {{ form.estereotipo.errors }} </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <span class="text-danger">*</span>
                        {{ form.cantidad.label_tag }}
                        {{ form.cantidad|bootstrap_class }}
                        {% if form.cantidad.errors %}
                        <div class='alert alert-danger' role="alert"> {{ form.cantidad.errors }} </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if form.form_productos %}
            <h3>Productos</h3>
            <div id="container_producto">
                {{ form.form_productos.management_form }}
                {% for form in form.form_productos %}
                    <div class="row">
                        {{form.id}}
                        <div class="col-sm-7">
                            {{form.estereotipo.label_tag}}
                            {{form.estereotipo|bootstrap_class}}
                            {% if form.estereotipo.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.estereotipo.errors }} </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {{form.cantidad.label_tag}}
                            {{form.cantidad|bootstrap_class}}
                            {% if form.cantidad.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.cantidad.errors }} </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <span class="hidden">{{ form.DELETE }}</span>
                            <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <a class="btn btn-sm btn-success add_more" href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar otro producto
                </a>
                <input type="hidden" id="empty_form_producto" value=' <div class="row">
                    <div class="col-sm-7">
                    {{form.form_productos.empty_form.estereotipo.label_tag}}
                    {{form.form_productos.empty_form.estereotipo|bootstrap_class}}
                    {% if form.form_productos.empty_form.estereotipo.errors %}
                       <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.estereotipo.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    {{form.form_productos.empty_form.cantidad.label_tag}}
                    {{form.form_productos.empty_form.cantidad|bootstrap_class}}
                    {% if form.form_productos.empty_form.cantidad.errors %}
                       <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.cantidad.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    <span class="hidden">{{ form.form_productos.empty_form.DELETE }}</span>
                    <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
                </div>
            </div>
                 '>
            </div>
        {% endif %}
    </form>

{% endblock work %}
