{% extends "admin.html" %}

{% block page_header %}
Requisiciones
<a href="{% url 'compras.requisicion.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}

{% if requisiciones %}

    <table class="table table-striped table-bordered table-condensed table-list">
        <thead>
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Proveedores
                </th>
                <th>
                    Status
                </th>
                <th class="td-actions lg">

                </th>
            </tr>
        </thead>
        <tbody>
            {% for requisicion in requisiciones %}
                <tr>
                    <td>
                        {{requisicion.codigo}}
                    </td>
                    <td>
                        <ul>
                            {{requisicion.estereotipo}} <strong>({{requisicion.cantidad}})</strong>
                        </ul>
                    </td>
                    <td>
                        {% if requisicion.postulaciones.count > 0 %}
                            <ul>
                            {% for postulacion in requisicion.postulaciones.all %}
                                <li>{{postulacion.proveedor}}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            Aún no asignado
                        {% endif %}
                    </td>
                    <td>
                        {% if requisicion.verbose_status is not None %}
                            {{requisicion.verbose_status}}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'compras.requisicion.edit' requisicion.id %}" class="btn btn-sm btn-warning">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'compras.requisicion.cotizadores' requisicion.id %}" class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'compras.requisicion.cotizadores.productos' requisicion.id %}" class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-usd"></span>
                        </a>
                        <a href="{% url 'compras.requisicion.cotizadores.aprobar' requisicion.id %}" class="btn btn-sm btn-info">
                            <span class="glyphicon glyphicon-ok-sign"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}

{% endblock work %}
