{% extends "admin.html" %}
{% load filtros %}

{% block javascript %}
<script type="text/javascript">
    $(".estado").on('change', function (event) {
        event.preventDefault();
        that = this
        selected_id = this.options[this.selectedIndex].value;
        $.getJSON('/division-territorial/estado/' + selected_id + '/ciudades', {}, function(json, textStatus) {
                $.get('/static/js/ventas/templates/ciudades.ejs', function (template) {
                    options = ejs.render(template, {'ciudades':json})
                    tr = that.parentNode.parentNode
                    $('.ciudad', tr ).html($(options));
                })
        });
    });

    $(".credito").on('change', function (event) {
        event.preventDefault();
        if (this.checked) {
            $('.plazo_pago', this.parentNode).removeClass('hidden');
        }else{
            $('.plazo_pago', this.parentNode).addClass('hidden');
        }
    });

</script>
{% endblock javascript %}

{% block page_header %}Cotización de productos para la compra{% endblock page_header %}

{% block work %}

    {% if form %}
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            {% include "fragments/buttons_form.html" with list_url='compras.requisicion.list' %}
            <div id="container_proveedor">
                {{ form.management_form }}
                {% for proveedor in proveedores %}
                    <div style="overflow:auto; width:1800px;">
                        <div class="panel panel-info">
                          <div class="panel-heading"  style="text-align:center;">
                            <h3 class="panel-title">{{proveedor}}</h3>
                          </div>
                          <div class="panel-body">
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <th>
                                              Producto
                                          </th>
                                          <th>
                                              Precio
                                          </th>
                                          <th>
                                              Tiempo de entrega
                                          </th>
                                          <th>
                                              Stock (Estado)
                                          </th>
                                          <th>
                                              Stock (Ciudad)
                                          </th>
                                          <th>
                                              Efectivo
                                          </th>
                                          <th>
                                              Pago anticipado
                                          </th>
                                          <th>
                                              Pago contra entrega
                                          </th>
                                          <th>
                                              Credito
                                          </th>
                                          <th>
                                              Archivo
                                          </th>
                                      </tr>
                                  </tbody>
                                  <tbody>
                                    {% for form in form %}
                                        {% if proveedor == form.instance.proveedor %}
                                            {{form.id}}
                                                <tr>
                                                    <td>
                                                        {{ form.instance.requisicion.estereotipo }}
                                                    </td>
                                                    <td>
                                                        {{form.precio_unidad|bootstrap_class}}
                                                        {% if form.precio_unidad.errors %}
                                                           <div class="alert alert-danger" role="alert"> {{ form.precio_unidad.errors }} </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{form.tiempo_entrega|bootstrap_class}}
                                                        {% if form.tiempo_entrega.errors %}
                                                        <div class="alert alert-danger" role="alert"> {{ form.tiempo_entrega.errors }} </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{form.stock_estado|bootstrap_class:"estado"}}
                                                        {% if form.stock_estado.errors %}
                                                           <div class="alert alert-danger" role="alert"> {{ form.stock_estado.errors }} </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{form.stock_ciudad|bootstrap_class:"ciudad"}}
                                                        {% if form.stock_ciudad.errors %}
                                                           <div class="alert alert-danger" role="alert"> {{ form.stock_ciudad.errors }} </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{form.efectivo|bootstrap_class}}
                                                        {% if form.efectivo.errors %}
                                                           <div class="alert alert-danger" role="alert"> {{ form.efectivo.errors }} </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{form.prepago|bootstrap_class}}
                                                        {% if form.prepago.errors %}
                                                           <div class="alert alert-danger" role="alert"> {{ form.prepago.errors }} </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{form.pago_entrega|bootstrap_class}}
                                                        {% if form.pago_entrega.errors %}
                                                           <div class="alert alert-danger" role="alert"> {{ form.pago_entrega.errors }} </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{form.credito|bootstrap_class:"credito"}}
                                                        {% if form.credito.errors %}
                                                           <div class="alert alert-danger" role="alert"> {{ form.credito.errors }} </div>
                                                        {% endif %}
                                                        {{form.plazo_pago|attrs:'placeholder:Plazo de pago, class:form-control input-sm plazo_pago hidden'}}
                                                        {% if form.plazo_pago.errors %}
                                                           <div class="alert alert-danger" role="alert"> {{ form.plazo_pago.errors }} </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{form.cotizacion_fisica|bootstrap_class}}
                                                        {% if form.cotizacion_fisica.errors %}
                                                           <div class="alert alert-danger" role="alert"> {{ form.cotizacion_fisica.errors }} </div>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                      </div>
                  </div>
                {% endfor %}
            </div>
        </form>
    {% endif %}

{% endblock work %}
