<div class="row">
    <div class="col-md-7">
        <div class="col-md-12">
            <div style='text-align:center;' class="col-md-8">
                <h3>JORGE DAVID GONZÁLEZ LINARES</h3>
                <strong>{{orden.empresa.rfc}}</strong>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Cotización</h1>
        </div>
        <div class="col-md-6">
            {{orden.codigo}}
        </div>
    </div>
    <div class="col-md-5">
        {% if orden.empresa.logo %}
            <img src="/media/{{orden.empresa.logo}}" alt="Logo" width="250" />
        {% else %}
            <img src="http://placehold.it/300x100" alt="Logo" />
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <div class="col-md-12">
            {{orden.cliente}}
        </div>
        <div class="col-md-12">
            {{orden.hospital}}
        </div>
        <div class="col-md-12">
            {{orden.contacto_hospital.division_administrativa}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12">
            Con atención: {{orden.contacto_cliente.cargo}}
        </div>
        <div class="col-md-12">
            {{orden.contacto_cliente}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-6">
            Fecha:
        </div>
        <div class="col-md-6">
            {{orden.fecha_creacion|date:"SHORT_DATE_FORMAT"}}
        </div>
        <div class="col-md-6">
            Hora:
        </div>
        <div class="col-md-6">
            {{orden.fecha_creacion|date:"g:m a"}}
        </div>
    </div>
</div>
<hr>
<div class="row">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    Cantidad
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Precio unitario
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            {% for producto in orden.productos_ventas.all %}
                <tr>
                    <td>
                        {{producto.cantidad}}
                    </td>
                    <td>
                        {{producto.producto}}
                    </td>
                    <td>
                        {{producto.precio_unidad}}
                    </td>
                    <td class="total_fila">
                        {{ producto.total }}
                    </td>
                </tr>
            {% endfor %}
            <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td></tr>
            <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td></tr>
            <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td></tr>
            {% if orden.productos.all|length|divisibleby:"2" %}
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td></tr>
            {% else %}
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td></tr>
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td></tr>
            {% endif %}


        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-offset-3 col-md-3">
        <div class="col-md-12">
            <strong>Doctor: {{orden.medico}}</strong>
        </div>
        <div class="col-md-12">
            <strong>Paciente: {{orden.paciente}}</strong>
        </div>
    </div>
    <div class="col-md-offset-3 col-md-3 col-sm-12">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th>
                        Subtotal
                    </th>
                    <td id="subtotal">
                        0.00
                    </td>
                </tr>
                <tr>
                    <th id="iva_porcentaje">
                        IVA 16%
                        <input type="hidden" value="0.16">
                    </th>
                    <td id="iva">
                        0.00
                    </td>
                </tr>
                <tr>
                    <th>
                        Total
                    </th>
                    <td id="total">
                        0.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <!--Datos de entrega-->
    <p style="font-size:.9em;">
        <strong>Lugar de entrega: {{orden.datos_entrega.lugar}}</strong><br>
        <strong>Plazo y condiciones de entrega: {{orden.datos_entrega.plazo_condiciones}}</strong><br>
        <strong>Forma de pago: {{orden.datos_entrega.forma_pago}}</strong><br>
        <strong>Garantía Técnica: 12 meses</strong><br>
        <strong>Norma nacional: {{orden.datos_entrega.norma_nacional}}</strong><br>
        <strong>Origen de bienes: {{orden.datos_entrega.origen_bienes}}</strong><br>
        <strong>Estratificación: {{orden.datos_entrega.estratificacion}}</strong><br>
        <strong>Vigencia de cotización: {{orden.datos_entrega.vigencia_cotizacion}}</strong>
        <strong>{{orden.datos_entrega.declaracion_buena_fe}}</strong><br>
    </p>
    <hr>
</div>
