<div class="row">
    <div class="col-md-6">
        <h1>Cotización</h1>
        <p>
            {{orden.codigo}}
        </p>
    </div>
    <div class="col-md-6">
        {% if orden.empresa.logo %}
            <img src="/media/{{orden.empresa.logo}}" alt="Logo" width="300" />
        {% else %}
            <img src="http://placehold.it/300x100" alt="Logo" />
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        Hospital: {{orden.hospital}}
    </div>
    <div class="col-md-6">
        Fecha: {{orden.hospital}}
    </div>
</div>
<hr>
<div class="row">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    Partida
                </th>
                <th>
                    Includo
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Producto
                </th>
                <th>
                    Precio unitario
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            {% for producto in orden.productos_ventas.all %}
                <tr>
                    <td>
                        {{producto.partida}}
                    </td>
                    <td>
                        {% if producto.incluido %}
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% endif %}
                    </td>
                    <td>
                        {{producto.cantidad}}
                    </td>
                    <td>
                        {{producto.estereotipo}}
                    </td>
                    <td>
                        {{producto.precio_unidad}}
                    </td>
                    <td class="total_fila">
                        {{ producto.total }}
                    </td>
                </tr>
            {% endfor %}
            <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            {% if orden.productos.all|length|divisibleby:"2" %}
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            {% else %}
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            {% endif %}


        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-offset-9 col-md-3 col-sm-12">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th>
                        Subtotal
                    </th>
                    <td id="subtotal">
                        0.00
                    </td>
                </tr>
                <tr>
                    <th id="iva_porcentaje">
                        IVA 16%
                        <input type="hidden" value="0.16">
                    </th>
                    <td id="iva">
                        0.00
                    </td>
                </tr>
                <tr>
                    <th>
                        Total
                    </th>
                    <td id="total">
                        0.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
