{% extends "body.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
    <div id="side-menu" class="col-sm-2  sidebar">
        <!-- Logo -->
        <div style="padding-top:.5rem" class="collection-item">
            <a href="{% url 'index' %}" class="brand-logo">
                <img src="/media/default/Soniqsa_250x86.png" alt="Logo" />
            </a>
        </div>
        <!-- Submenus que se activan en funcion de la opción que este seleccionada en el menu principal -->
        <div class="colecciones">
            {% include "fragments/menu_collection.html" %}
        </div>
        <!-- Fin de menu lateal estatico -->
    </div>

    <!-- Este primer div es para la división de espacios entre el area de trabajo y la barra lateal de menu -->
    <div class="col-sm-10 col-sm-offset-2  main">
      <!-- Este segundo div se usa como para que el area de trabajo no quede pegada a los bordes -->
      <div class="body">
          <h1 class="page-header">{% block page_header %}{% endblock page_header %}</h1>
          {% include "fragments/messages.html" %}
          {% block work %}
          {% endblock work %}
      </div>
    </div>
</div>

{% endblock content %}
