{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>ERP</title>
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/flatly/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap-chosen.css' %}">
        <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title" charset="utf-8">
        {% block stylesheet %}{% endblock stylesheet %}
    </head>
    <body class="grey lighten-4">

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#horizontal-menu" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ERP</a>
            </div>
            <div id="horizontal-menu" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                {% include "fragments/main_menu.html" %}
              </ul>
            </div>
          </div>
        </nav>

        {% block body %}{% endblock body %}

    </div>
        {% block templatejs %}{% endblock templatejs %}
        <script type="text/javascript" src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/chosen.jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/moment.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/es.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/lib/ejs.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/init.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ready.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/core/widgets/datepicker.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/core/widgets/datetimepicker.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/core/widgets/select_searchable.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/core/widgets/select_addmore.js' %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/core/widgets/select_dependent.js' %}" charset="utf-8"></script>
        {% block javascript %}{% endblock javascript %}
    </body>
</html>
