{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/lib/bootstrap-dialog.min.css' %}" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="{% static 'css/print.css' %}" media="screen" title="no title" charset="utf-8">
{% endblock stylesheet %}

{% block body %}

    <!--<ul id="breadcrumbs">
    <li><a href="">Borrador</a></li>
    <li><a href="">Cotizado</a></li>
    <li><a href="" class="current">Orden de compra</a></li>
    </ul>-->

    {% block content %}{% endblock content %}

{% endblock body %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/lib/angular.min.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/lib/angular-route.min.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/lib/angular-resource.min.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/lib/angular-multi-step-form.min.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/lib/bootstrap-dialog.min.js' %}" charset="utf-8"></script>
<!--<script type="text/javascript" src="{% static 'js/app.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/services.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/controllers/index.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/controllers/hospital.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/controllers/configuracion.js' %}" charset="utf-8"></script>-->
{% endblock javascript %}
