{% extends "admin.html" %}
{% load staticfiles %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/lib/jquery.dataTables.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/lib/dataTables.bootstrap.min.js' %}" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.table-list').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.11/i18n/Spanish.json"
            }
        });
    });
</script>
{% endblock javascript %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/lib/dataTables.bootstrap.min.css' %}" media="screen" title="no title" charset="utf-8">
{% endblock stylesheet %}
