<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Nombre
            </th>
            <td>
                {{ cliente.nombre }}
            </td>
        </tr>
        <tr>
            <th>
                Estado
            </th>
            <td>
                {{ cliente.estado }}
            </td>
        </tr>
        <tr>
            <th>
                Ciudad
            </th>
            <td>
                {{ cliente.ciudad }}
            </td>
        </tr>
        <tr>
            <th>
                Dirección
            </th>
            <td>
                {{cliente.direccion}}
            </td>
        </tr>
    </tbody>
</table>
