@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    padding-top: 50px;
}
table{
    border-collapse:collapse;
    width: 100%;
}
tr{
    height: 1.5em;
}
td, th{
    padding: .4em;
    text-align: left;
}

.col-md-1, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9,
.col-md-10, .col-md-11, .col-md-12{
    display: inline-block;
}
.col-md-2{
    width: 16%;
}
.col-md-3{
    width: 24%;
}
.col-md-4{
    width: 33%;
}
.col-md-5{
    width: 41%;
}
.col-md-6{
    width: 49%;
}
.col-md-7{
    width: 58%;
}
.col-md-8{
    width: 66%;
}
.col-md-9{
    width: 75%;
}
.col-md-12{
    width: 100%;
}
.col-md-offset-1{
    margin-left: 8%;
}
.col-md-offset-2{
    margin-left: 16%;
}
.col-md-offset-3{
    margin-left: 25%;
}
.col-md-offset-5{
    margin-left: 41%;
}
.col-md-offset-9{
    margin-left: 75%;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row{
    display: block;
}
