<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p><strong>Comprador:</strong></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p>{{pedido.empresa}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p><strong>Producto:</strong></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p>{{ pedido.producto }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p><strong>Proveedor:</strong></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p>{{pedido.proveedor}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p><strong>Fecha de compromiso:</strong></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p>{{pedido.fecha_compromiso|date:"SHORT_DATE_FORMAT"}}</p>
            </div>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>
                Cantidad
            </th>
            <th>
                Precio unitario
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{pedido.cantidad}}
            </td>
            <td>
                {{pedido.precio_unidad}}
            </td>
            <td>
                {{pedido.costo}}
            </td>
        </tr>
    </tbody>
</table>
