<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Nombres
            </th>
            <td>
                {{ paciente.nombres }}
            </td>
        </tr>
        <tr>
            <th>
                Apellidos
            </th>
            <td>
                {{paciente.apellidos}}
            </td>
        </tr>
        <tr>
            <th>
                Estado
            </th>
            <td>
                {{paciente.estado}}
            </td>
        </tr>
        <tr>
            <th>
                Ciudad
            </th>
            <td>
                {{paciente.ciudad}}
            </td>
        </tr>
    </tbody>
</table>
