<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Nombre de usuario
            </th>
            <td>
                {{ usuario.username }}
            </td>
        </tr>
        <tr>
            <th>
                Correo electrónico
            </th>
            <td>
                {{usuario.email}}
            </td>
        </tr>
        <tr>
            <th>
                Nombres
            </th>
            <td>
                {{usuario.first_name}}
            </td>
        </tr>
        <tr>
            <th>
                Apellidos
            </th>
            <td>
                {{usuario.last_name}}
            </td>
        </tr>
    </tbody>
</table>
