tbody tr:nth-child(odd) {
   background-color:#ddd;
}

.alert{
    font-size: 0.9em;
    color: black;
    text-shadow: 0px 0px red;
    text-align: center;
    display: block;
}

.mensaje-final{
    display: block;
    font-size: 0.85em;
    text-align: center;
}
