tbody tr:nth-child(odd) {
   background-color:#a9e2ff;
}

.condiciones-total{
    margin-top: 1em;
}

    .condiciones-total div{
        vertical-align: top;
    }

#datos-empresa{
    color:#5db6be;
}

#rfc-empresa, #cotizacion-etiqueta, #codigo-cotizacion{
    color: #0f4061;
    font-family: serif;
    font-size: 1.5em;
}

.encabezado div{
    vertical-align: top;
    text-align: center;
}

.alert{
    color: #5db6be;
    font-size: .9em;
    font-style: oblique;
    display: block;
    text-align: center;
}
