{% load filtros %}
{% load humanize %}
<div class="row">
    <div class="col-md-7">
        <div class="col-md-12">
            <div style='text-align:center;' class="col-md-8">
                <h3>JORGE DAVID GONZÁLEZ LINARES</h3>
                <strong>{{orden.empresa.rfc}}</strong>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Cotización</h1>
        </div>
        <div class="col-md-6" style="color:red; font-size:1.3em;">
            {{orden.codigo}}
        </div>
    </div>
    <div class="col-md-5">
        {% if orden.empresa.logo %}
            <img src="/media/{{orden.empresa.logo}}" alt="Logo" width="250" />
        {% else %}
            <img src="http://placehold.it/300x100" alt="Logo" />
        {% endif %}
    </div>
</div>
<!--Inicio de separadores-->
<div style="border-bottom:4px solid black; margin:0"></div>
<div style="border-bottom:4px solid red; margin:0 0 10px"></div>
<!--Fin de separadores-->
<div class="row">
    <div class="col-md-4">
        <div class="col-md-12">
            {{orden.cliente}}
        </div>
        <div class="col-md-12">
            {{orden.hospital}}
        </div>
        <div class="col-md-12">
            Subdirección de Recursos Materiales
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12">
            Con atención: {{orden.contacto_cliente.cargo}}
        </div>
        <div class="col-md-12">
            {{orden.contacto_hospital.division_administrativa}}
        </div>
        <div class="col-md-12">
            {{orden.contacto_cliente}}
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-6">
            Fecha:
        </div>
        <div class="col-md-6">
            {{orden.fecha_creacion|date:"SHORT_DATE_FORMAT"}}
        </div>
        <div class="col-md-6">
            Hora:
        </div>
        <div class="col-md-6">
            {{orden.fecha_creacion|date:"g:m a"}}
        </div>
    </div>
</div>
<!--Inicio de separadores-->
<div style="border-bottom:4px solid black; margin:5px 0 0"></div>
<div style="border-bottom:4px solid red; margin:0 0 0px"></div>
<!--Fin de separadores-->
<div class="row">
    <span class="alert">RECIBA UN CORDIAL SALUDO Y DE LA MISMA MANERA PRESENTO A COTIZACIÓN DE LOS PRODUCTOS QUE TAN AMABLEMENTE NOS SOLICITO.</span>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    Partida
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Precio unitario
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            {% for producto in orden.productos_ventas.all %}
                <tr>
                    <td>
                        {{producto.partida}}
                    </td>
                    <td>
                        {{producto.cantidad}}
                    </td>
                    <td>
                        {{producto.alias}}
                    </td>
                    <td style="text-align:right;">
                        {% if producto.precio_unidad %}
                            {{producto.precio_unidad|floatformat:2|intcomma }}
                        {% else %}
                            No Disponible
                        {% endif %}
                    </td>
                    <td class="total_fila" style="text-align:right;">
                        {% if producto.total %}
                            {{ producto.total|floatformat:2|intcomma }}
                        {% else %}
                            No Disponible
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for linea in orden.productos_ventas.all|relleno_cotizacion:21 %}
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            {% endfor %}
            <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            {% if orden.productos.all|length|divisibleby:"2" %}
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            {% else %}
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
            {% endif %}


        </tbody>
    </table>
</div>
<div class="row" style="margin-top:2em;">
    <div class="col-md-offset-3 col-md-3" style="vertical-align:middle;">
        <div class="col-md-12">
            <strong>Doctor: {{orden.medico}}</strong>
        </div>
        <div class="col-md-12">
            <strong>Paciente: {{orden.paciente}}</strong>
        </div>
    </div>
    <div class="col-md-offset-3 col-md-3 col-sm-12" style="vertical-align:middle; margin-bottom: 1em;">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <th>
                        Subtotal
                    </th>
                    <td id="subtotal">
                        0.00
                    </td>
                </tr>
                <tr>
                    <th id="iva_porcentaje">
                        IVA 16%
                        <input type="hidden" value="0.16">
                    </th>
                    <td id="iva">
                        0.00
                    </td>
                </tr>
                <tr>
                    <th>
                        Total
                    </th>
                    <td id="total">
                        0.00
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <span class="alert">SIN MAS POR EL MOMENTO ESPERANDO VERNOS FAVORECIDOS CON SU RESPUESTA, ME DESPIDO</span>
    <!--Inicio de separadores-->
    <div style="border-bottom:4px solid black; margin:0"></div>
    <div style="border-bottom:4px solid red; margin:0"></div>
    <!--Fin de separadores-->
    <span class="alert">TODOS NUESTROS PRECIOS ESTAN SUJETOS A CAMBIOS SIN PREVIO AVISO DEPENDIENDO EL TIPO CAMBIO DEL DOLAR PARA LA FECHA</span>

    <!--Datos de entrega-->
    <p style="font-size:.9em;">
        <strong>Lugar de entrega: {{orden.hospital.lugar_entrega}}</strong><br>
        <strong>Plazo y condiciones de entrega: {{orden.datos_entrega.plazo_condiciones}}</strong><br>
        <strong>Forma de pago: {{orden.datos_entrega.forma_pago}}</strong><br>
        <strong>Garantía Técnica: 12 meses</strong><br>
        <strong>Norma nacional: {{orden.datos_entrega.norma_nacional}}</strong><br>
        <strong>Origen de bienes: {{orden.datos_entrega.origen_bienes}}</strong><br>
        <strong>Estratificación: {{orden.datos_entrega.estratificacion}}</strong><br>
        <strong>Vigencia de cotización: {{orden.datos_entrega.vigencia_cotizacion}}</strong>
        <strong>{{orden.datos_entrega.declaracion_buena_fe}}</strong><br>
    </p>
    <!--Inicio de separadores-->
    <div style="border-bottom:4px solid black; margin:5px 0 0"></div>
    <div style="border-bottom:4px solid red; margin:0 0 10px"></div>
    <!--Fin de separadores-->
    <span class="mensaje-final">
        LA GARITA #20 INT 45 COL: RESIDENCIAL LA CIMA COACALCO DE BERRIOZABAL ESTADO DE MEXICO C.P. 55700
    </span>
    <span class="mensaje-final">
        TEL: 56325407 CORREO ELECTRONICO: jd.snortopedia@yahoo.com.mx
    </span>

</div>
