{% load filtros %}
{% load humanize %}
    <div class="encabezado">
	    <div class="col-md-4">
	        <div id="logo">
                {% if orden.empresa.logo %}
                    <img src="/media/{{orden.empresa.logo}}" alt="Logo" width="250" />
                {% else %}
                    <img src="http://placehold.it/300x100" alt="Logo" />
                {% endif %}
                <div class="cliente">
                        {{orden.cliente}}<br>
                        {{orden.hospital}}<br>
                        {{orden.contacto_hospital.division_administrativa}}<br>
                    {% if orden.contacto_cliente.cargo and orden.contacto_cliente %}
                            Con atención: {{orden.contacto_cliente.cargo}}<br>
                            {{orden.contacto_cliente}}<br>
                    {% endif %}
                    Fecha: {{orden.fecha_creacion|date:"SHORT_DATE_FORMAT"}}<br>
                </div>
	        </div>
	    </div>
        <div class="col-md-7" style="margin-left:4em;">
            <p id="rfc-empresa">RFC: {{orden.empresa.rfc}}</p>
            <p id="datos-empresa">CERRADA MANUEL. OROZCO, MZ.9 LOTE.3INT.5COL. PRESIDENTESEJIDALES, COYOACAN D.F04470 CORREO ELECTRONICO: msanchez@soniqsa.com.mx TEL:50373528</p>
            <p id="cotizacion-etiqueta">COTIZACÍON</p>
            <p id="codigo-cotizacion">{{orden.codigo}}</p>
	    </div>
	</div>
    <span class="alert">RECIBA UN CORDIAL SALUDO Y DE LA MISMA MANERA PRESENTO A COTIZACIÓN DE LOS PRODUCTOS QUE TAN AMABLEMENTE NOS SOLICITO.</span>
    <div class="tabla">
        <!--	<caption>POR ESTE MEDIO ME PERMITO HACERLE LA SIGUIENTE COTIZACIÓN</caption> -->
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        Partida
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Concepto
                    </th>
                    <th width="8%" style="text-align:center;">
                        Precio unitario
                    </th>
                    <th width="10%" style="text-align:center;">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for producto in orden.productos_ventas.all %}
                    <tr>
                        <td>
                            {{producto.partida}}
                        </td>
                        <td>
                            {{producto.cantidad}}
                        </td>
                        <td>
                            {{producto.alias}}
                        </td>
                        <td style="text-align:right;">
                            {% if producto.precio_unidad %}
                                {{producto.precio_unidad|floatformat:2|intcomma }}
                            {% else %}
                                No Disponible
                            {% endif %}
                        </td>
                        <td class="total_fila" style="text-align:right;">
                            {% if producto.total %}
                                {{ producto.total|floatformat:2|intcomma }}
                            {% else %}
                                No Disponible
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for linea in orden.productos_ventas.all|relleno_cotizacion %}
                    <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
                {% endfor %}
                <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
                <tr style="height: 1.5em;"><td></td><td></td><td><strong>Doctor: {{orden.medico}}</strong></td><td></td><td></td></tr>
                <tr style="height: 1.5em;"><td></td><td></td><td><strong>Paciente: {{orden.paciente}}</strong></td><td></td><td></td></tr>
                {% if orden.productos.all|length|divisibleby:"2" %}
                    <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
                {% else %}
                    <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
                    <tr style="height: 1.5em;"><td></td><td></td><td></td><td></td><td></td></tr>
                {% endif %}
            </tbody>
        </table>
        <span style="margin-top:4px" class="alert">SIN MAS POR EL MOMENTO ESPERANDO VERNOS FAVORECIDOS CON SU RESPUESTA, ME DESPIDO</span>
    </div>
    <div class="condiciones-total">
        <div class="condiciones col-md-9">
            <p style="font-size:.9em;">
                <strong>Lugar de entrega: {{orden.hospital.lugar_entrega}}</strong><br>
                <strong>Plazo y condiciones de entrega: {{orden.datos_entrega.plazo_condiciones}}</strong><br>
                <strong>Forma de pago: {{orden.datos_entrega.forma_pago}}</strong><br>
                <strong>Garantía Técnica: 12 meses</strong><br>
                <strong>Norma nacional: {{orden.datos_entrega.norma_nacional}}</strong><br>
                <strong>Origen de bienes: {{orden.datos_entrega.origen_bienes}}</strong><br>
                <strong>Estratificación: {{orden.datos_entrega.estratificacion}}</strong><br>
                <strong>Vigencia de cotización: {{orden.datos_entrega.vigencia_cotizacion}}</strong>
                <strong>{{orden.datos_entrega.declaracion_buena_fe}}</strong><br>
            </p>
        </div>
        <div class="total col-md-3" style="vertical-align:middle; margin-top: 2em;">

                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <th>
                                Subtotal
                            </th>
                            <td id="subtotal">
                                0.00
                            </td>
                        </tr>
                        <tr>
                            <th id="iva_porcentaje">
                                IVA 16%
                                <input type="hidden" value="0.16">
                            </th>
                            <td id="iva">
                                0.00
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Total
                            </th>
                            <td id="total">
                                0.00
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-md-12">
            <span class="alert">TODOS NUESTROS PRECIOS ESTAN SUJETOS A CAMBIOS SIN PREVIO AVISO DEPENDIENDO DEL TIPO CAMBIO DEL DOLAR PARA LA FECHA</span>
        </div>
    </div>
