{% extends "body.html" %}
{% load staticfiles %}

{% block javascript %}
<script src="{% static 'js/ventas/ciudades_por_estados.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block content %}
<h1 class="page-header">{% block title %}Partner{% endblock title %}</h1>
<form method="post">
    {% include "fragments/form.html" %}
</form>
{% endblock content %}
