{% extends "body.html" %}

{% block content %}
    <h1 class="page-header">{% block title %}Partner{% endblock title %}</h1>
    {% include "fragments/table-preheader.html" with route="hospitales.create" %}
    {% if hospitales %}
        <table class="table table-striped table-bordered table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Nombre</a>
                    </th>
                    <th>
                        <a href="#">Dirección</a>
                    </th>
                    <th>
                        <a href="#">Estado</a>
                    </th>
                    <th>
                        <a href="#">Ciudad</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for hospital in hospitales %}
                    <tr>
                        <td>
                            {{hospital.nombre}}
                        </td>
                        <td>
                            {{hospital.direccion}}
                        </td>
                        <td>
                            {{hospital.estado}}
                        </td>
                        <td>
                            {{hospital.ciudad   }}
                        </td>
                        <td>
                            <a href="{% url 'hospitales.detail' hospital.id %}" class="btn btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'hospitales.update' hospital.id %}" class="btn btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'hospitales.delete' hospital.id %}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p>
            No hay ningun hospital registrado
        </p>
    {% endif %}
{% endblock content %}
