{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Mis datos</h1>
        {% include "fragments/messages.html" %}
        <div class="col-md-12 col-sm-12 data-grid">
            <strong>Correo elétronico:</strong> {{usuario.email}}
        </div>
        <div class="col-md-6 col-sm-12 data-grid">
            <strong>Nombres:</strong> {{usuario.first_name}}
        </div>
        <div class="col-md-6 col-sm-12 data-grid">
            <strong>Apellidos:</strong> {{usuario.last_name}}
        </div>
        <div class="col-md-6 col-sm-12 data-grid">
            <strong>Grupo:</strong> {{usuario.groups.first}}
        </div>
    </div>
</div>
{% endblock body %}
