<h1>Nuevo producto</h1>
{{ dimensiones|json }}
<form ng-submit="saveProducto()">

<div class="row">
    <div class="col md-6">
        <label for="codigo">Código:</label>
        <input type="text" ng-model="producto.codigo" id="codigo">
    </div>
    <div class="col md-6">
        <label for="categoria">Categoria:</label>
        <div class="row">
            <div class="col md-11" id="wrapper-categoria">
                <select ng-model="producto.categoria" id="categoria" material-select watch>
                    <option ng-repeat="categoria in categorias" value="{{ categoria.id }}" >
                        {{ categoria.nombre }}
                    </option>
                </select>
            </div>
            <div class="col md-1">
                <a class="btn-floating waves-effect waves-light" href="#addcategoria" modal><i class="material-icons">add</i></a>
            </div>
        </div>
    </div>
</div>

    <label for="nombre">Nombre:</label>
    <input type="text" ng-model="producto.nombre" id="nombre">


<div class="input-field">
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" ng-model="producto.descripcion" class="materialize-textarea"></textarea>
</div>

<label for="tiene_modelos">¿Este producto tiene diferentes modelos?:</label>
<div class="switch">
    <label>
      No
      <input type="checkbox" id="tiene_modelos" ng-model="tiene_modelos" ng-true-value='true' ng-false-value='false'>
      <span class="lever"></span>
      Si
    </label>
 </div>
 <div class="row" ng-hide="tiene_modelos">
     <div class="col md-4">
         <label for="marca">Marca:</label>
         <select ng-model="producto.modelos[0].marca" id="marca" material-select watch>
             <option ng-repeat="marca in marcas" value="{{ marca.id }}" >
                 {{ marca.nombre }}
             </option>
         </select>
     </div>
     <div class="col md-3">
         <label for="valor_unidad_medicion">Valor:</label>
         <input type="text" ng-model="producto.modelos[0].valor_unidad_medicion" id="valor_unidad_medicion">
     </div>
     <div class="col md-4">
         <label for="unidades_medicion">Unidad de Medición:</label>
         <select ng-model="producto.modelos[0].unidad_medicion" id="unidades_medicion" material-select watch>
             <option ng-repeat="unidad in unidades" value="{{ unidad.id }}" >
                 {{ unidad.estandar }}
             </option>
         </select>
     </div>
     <div class="col md-1">
         <label>Agregar:</label>
         <p style="text-align:center;">
             <a class="btn-floating waves-effect waves-light" href="#addunidad" modal><i class="material-icons">add</i></a>
         </p>
     </div>
 </div>
 <p>
     {{ producto|json }}
 </p>
 <div class="row" ng-show="tiene_modelos">
     <table class="striped">
         <thead>
             <tr>
                 <th>
                     Nombre
                 </th>
                 <th>
                     Marca
                     <a class="btn-floating waves-effect waves-light" href="#addmarca" modal><i class="material-icons">add</i></a>
                 </th>
                 <th>
                     V. medicion
                 </th>
                 <th>
                     U. medicion
                     <a class="btn-floating waves-effect waves-light" href="#addunidad" modal><i class="material-icons">add</i></a>
                 </th>
             </tr>
         </thead>
         <tbody>
             <tr data-model="producto.modelos[0]">
                 <td>
                     <input type="text" ng-model="producto.modelos[0].nombre">
                 </td>
                 <td class="wrapper-marca">
                     <select class="browser-default" ng-model="producto.modelos[0].marca">
                         <option ng-repeat="marca in marcas" value="{{ marca.id }}" >
                             {{ marca.nombre }}
                         </option>
                     </select>
                 </td>
                 <td>
                     <input type="text" ng-model="producto.modelos[0].valor_unidad_medicion">
                 </td>
                 <td class="wrapper-unidad">
                     <select class="browser-default" ng-model="producto.modelos[0].unidad_medicion">
                         <option ng-repeat="unidad in unidades" value="{{ unidad.id }}" >
                             {{ unidad.estandar }}
                         </option>
                     </select>
                 </td>
                 <td>
                     <a class="btn-floating red" ng-click="removeRow($event)"><i class="material-icons">remove</i></a>
                 </td>
             </tr>
             <tr id="row-addmore">
                 <td>
                     <a class="btn orange" ng-click="addRow()">Agregar otro modelo</a>
                 </td>
             </tr>
         </tbody>
     </table>
 </div>

<p>
    <button type="submit" class="btn"><i class="material-icons">send</i></button>
</p>
</form>





<!-- Modal para crear categorias -->
<div id="addcategoria" class="modal">
    <div class="modal-content">
      <h4>Nueva categoria</h4>
      <label for="padre">Categoria padre:</label>
      <select ng-model="nueva_categoria.parent" id="padre" material-select watch>
          <option value="">-----------------------</option>
          <option ng-repeat="categoria in categorias" value="{{ categoria.id }}" >
              {{ categoria.nombre }}
          </option>
      </select>
      <label for="nombre">Nombre:</label>
      <input type="text" ng-model="nueva_categoria.nombre" id="nombre">
    </div>
    <div class="input-field">
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" ng-model="nueva_categoria.descripcion" class="materialize-textarea"></textarea>
    </div>
    <div class="modal-footer">
        <a ng-click="saveCategoria()" class=" modal-action modal-close waves-effect waves-green btn blue">Crear</a>
        <a class=" modal-action modal-close waves-effect waves-green btn red">Cancelar</a>
    </div>
  </div>
  <!-- Fin modal para crear unidades de medición -->

<!-- Modal para crear unidades de medición -->
<div id="addunidad" class="modal">
    <div class="modal-content">
      <h4>Nueva unidad de medición</h4>
      <label for="estandar">Estandar:</label>
      <input type="text" ng-model="nueva_unidad.estandar" id="estandar">
      <label for="dimension">Dimensión:</label>
      <select ng-model="nueva_unidad.dimension" id="dimension" material-select watch>
          <option ng-repeat="dimension in dimensiones" value="{{ dimension[0] }}" >
              {{ dimension[1] }}
          </option>
      </select>
    </div>
    <div class="modal-footer">
        <a ng-click="saveUnidad()" class=" modal-action modal-close waves-effect waves-green btn blue">Crear</a>
        <a class=" modal-action modal-close waves-effect waves-green btn red">Cancelar</a>
    </div>
  </div>
  <!-- Fin modal para crear unidades de medición -->


  <!-- Modal para crear unidades de medición -->
  <div id="addmarca" class="modal">
      <div class="modal-content">
        <h4>Nueva <strong>marca</strong> de producto</h4>
        <label for="nombre">Nombre:</label>
        <input type="text" ng-model="nueva_marca.nombre" id="nombre">
      </div>
      <div class="modal-footer">
          <a ng-click="saveMarca()" class=" modal-action modal-close waves-effect waves-green btn blue">Crear</a>
          <a class=" modal-action modal-close waves-effect waves-green btn red">Cancelar</a>
      </div>
    </div>
    <!-- Fin modal para crear unidades de medición -->
