<h1>Productos</h1>
<a class="btn waves-effect waves-light red" href="/#/configuracion/producto/create">Add</a>
<table class="bordered highlight">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nombre
            </th>
            <th>
                Modelos
            </th>
            <th>
                Unidades
            </th>
        </tr>
    </thead>
    <tbody ng-repeat='producto in productos'>
        <tr>
            <td>
                {{ producto.codigo }}
            </td>
            <td>
                {{ producto.nombre }}
            </td>
            <td>
                <ul>
                    <li ng-repeat="modelo in producto.modelos">
                        {{ modelo }}
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li ng-repeat="unidad in producto.unidades_medicion">
                        {{ unidad }}
                    </li>
                </ul>
            </td>
            <td>
                <a href="/#/configuracion/producto/{{producto.id}}" class="btn-floating"><i class="material-icons">visibility</i></a>
                <a href="/#/configuracion/producto/{{producto.id}}/edit" class="btn-floating orange"><i class="material-icons">mode_edit</i></a>
                <a ng-click="removeproducto(producto)" class="btn-floating red"><i class="material-icons">delete</i></a>
            </td>
        </tr>
    </tbody>
</table>
