{% extends "admin.html" %}
{% load staticfiles %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/compras/pedido/app/config.js' %}" charset="utf-8"></script>
<script src="{% static 'js/compras/pedido/app/directives.js' %}" charset="utf-8"></script>
<script src="{% static 'js/compras/pedido/app/services.js' %}" charset="utf-8"></script>
<script src="{% static 'js/compras/pedido/app/controllers/ProductocompraController.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Atender productos pendientes{% endblock page_header %}

{% block work %}
{% verbatim %}
    <div ng-app='tabla-pedido'>
        <div ng-controller='ProductocompraController'>
            <multi-step-container steps="steps" class="simple-prev-next">
                <header>
                    <h3 ng-bind-template="{{$getActiveIndex()}}.- {{$getActiveStep().title}}"></h3>
                </header>

                <main step-container></main>
                <button ng-disabled="$isFirst()" class="btn btn-default" ng-click="$previousStep()">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    Previo
                </button>
                <div class="pull-right">
                    <button type="button" ng-click="cancel()" ng-disabled="!$isLast()" class="btn btn-danger">Cancelar</button>
                    <button type="button" ng-click="finish()" ng-disabled="!$isLast()" class="btn btn-info">Guardar</button>
                    <button ng-disabled="$isLast() || ($getActiveStep().hasForm && !$getActiveStep().valid)" class="btn btn-default" ng-click="$nextStep()">
                        Proximo
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="clearfix"></div>
            </multi-step-container>
        </div>
    </div>
{% endverbatim %}

{% endblock work %}
