{% extends "admin.html" %}
{% load filtros %}

{% block page_header %}Confirmar activación{% endblock page_header %}

{% block work %}
<form method="post">{% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-body">
          <a href="{% url 'compras.pedido.detail' pedido.id %}" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
              Cancelar
          </a>
          <button type="submit" class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Activar
          </button>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            {{ form.almacen_destino.label_tag }}
            {{ form.almacen_destino|bootstrap_class }}
            {% if form.almacen_destino.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.almacen_destino.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            {{ form.fecha_compromiso.label_tag }}
            {{ form.fecha_compromiso|bootstrap_class }}
            {% if form.fecha_compromiso.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.fecha_compromiso.errors }} </div>
            {% endif %}
        </div>
    </div>
</form>
{% endblock work %}
