{% extends "table_list.html" %}

{% block page_header %}
Pedidos de compra
<a href="{% url 'compras.pedido.new' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if pedidos %}
    <div style="width:100%; overflow:auto">
        <table class="table table-striped table-bordered table-condensed table-list" style="width:1200px">
            <thead>
                <tr>
                    <th>
                        <a href="#">Estatus</a>
                    </th>
                    <th>
                        <a href="#">Producto</a>
                    </th>
                    <th>
                        <a href="#">Proveedor</a>
                    </th>
                    <th>
                        <a href="#">Cantidad</a>
                    </th>
                    <th>
                        <a href="#">Precio total</a>
                    </th>
                    <th>
                        <a href="#">Fecha compromiso</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                    <tr>
                        <td>
                            {{pedido.verbose_status}}
                        </td>
                        <td>
                            <ul>
                                {% for producto_compra in pedido.productos_compras.all %}
                                    <li>{{producto_compra.estereotipo}} <strong>({{producto_compra.cantidad}})</strong></li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            {{pedido.proveedor}}
                        </td>
                        <td>
                            {{pedido.cantidad}}
                        </td>
                        <td>
                            {{pedido.total}}
                        </td>
                        <td>
                            {{pedido.fecha_compromiso|date:"SHORT_DATE_FORMAT"}}
                        </td>
                        <td>
                            <a href="{% url 'compras.pedido.detail' pedido.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            {% if not pedido.orden_venta %}
                                <a href="{% url 'compras.pedido.modify' pedido.id %}" class="btn btn-sm btn-warning">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a href="{% url 'compras.pedido.delete' pedido.id %}" class="btn btn-sm btn-danger">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        </div>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <div class="alert alert-info message-empty-table" role="alert">
            No hay ningun pedido de compra registrado
        </div>
    {% endif %}
{% endblock work %}
