{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/compras/pedido/table_pedido.js' %}" charset="utf-8"></script>
<script src="{% static 'js/compras/pedido/app/config.js' %}" charset="utf-8"></script>
<!--<script src="{% static 'js/compras/pedido/app/controllers.js' %}" charset="utf-8"></script>-->
<script type="text/javascript">
propiedad_producto_formset = new H34.formset({
    container_id : "#container_producto",
    empty_form_id: "#empty_form_producto"
});
</script>
{% endblock javascript %}

{% block page_header %}Edición de Pedido de compra{% endblock page_header %}

{% block work %}
<form method="post">
    {% csrf_token %}
    {% include "fragments/buttons_form.html" with list_url='compras.pedido.list' %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.empresa.label_tag }}
            {{ form.empresa|bootstrap_class }}
            {% if form.empresa.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.empresa.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.almacen_destino.label_tag }}
            {{ form.almacen_destino|bootstrap_class }}
            {% if form.almacen_destino.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.almacen_destino.errors }} </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.proveedor.label_tag }}
            {{ form.proveedor|bootstrap_class }}
            {% if form.proveedor.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.proveedor.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.fecha_compromiso.label_tag }}
            {{ form.fecha_compromiso|bootstrap_class }}
            {% if form.fecha_compromiso.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.fecha_compromiso.errors }} </div>
            {% endif %}
        </div>
    </div>
    <div style="margin-top:1em;" class="row">
        <div class="col-md-12">
            <table id='productos' class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Producto
                        </th>
                        <th>
                            Precio por unidad
                        </th>
                        <th>
                            Precio
                        </th>
                    </tr>
                </thead>
                <tbody id="container_producto">
                    {{ form.form_productos.management_form }}
                    {% for form_producto in form.form_productos %}
                        {{form_producto.id}}
                        <tr>
                            <td class="cantidad" ng-click='getTd($event)'>
                                <input type="number"
                                       id="{{ form_producto.cantidad.auto_id }}"
                                       name="{{form_producto.cantidad.html_name}}"
                                       value="{{ form_producto.cantidad.value }}"
                                       min="1"
                                       step="1"
                                       class="form-control input-sm"
                                       ng-blur="getInputTd($event)"
                                />
                                {% if form_producto.cantidad.errors %}
                                   <div class="alert alert-danger" role="alert"> {{ form_producto.cantidad.errors }} </div>
                                {% endif %}
                            </td>
                            <td class="producto" ng-click='getTd($event)'>
                                {{form_producto.estereotipo|bootstrap_class}}
                                {% if form_producto.estereotipo.errors %}
                                   <div class="alert alert-danger" role="alert"> {{ form_producto.estereotipo.errors }} </div>
                                {% endif %}
                            </td>
                            <td class="precio" ng-click='getTd($event)'>
                                <input type="number"
                                       id="{{ form_producto.precio_unidad.auto_id }}"
                                       name="{{form_producto.precio_unidad.html_name}}"
                                       value="{{ form_producto.precio_unidad.value }}"
                                       min="0"
                                       step="0.01"
                                       class="form-control input-sm"
                                       ng-blur="getInputTd($event)"
                                />
                                {% if form_producto.precio_unidad.errors %}
                                   <div class="alert alert-danger" role="alert"> {{ form_producto.precio_unidad.errors }} </div>
                                {% endif %}
                            </td>
                            <td class="total_fila">
                                <input type="text" class="total_producto form-control input-sm" value="" readonly>
                                <input type="hidden" class="total_producto" value="">
                            </td>
                            <td>
                                <span class="hidden">{{ form_producto.DELETE }}</span>
                                <a class="btn btn-sm btn-danger delete" href="#" >
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <a class="btn btn-sm btn-warning add_more" href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                        Agregar un producto
                    </a>
                    <input type="hidden" id="empty_form_producto" value='<tr ng-click="getRow($event)">
                        <td class="cantidad">
                            <input type="number"
                                   id="{{ form_producto.empty_form.cantidad.auto_id }}"
                                   name="{{form_producto.empty_form.cantidad.html_name}}"
                                   value="{{ form_producto.empty_form.cantidad.value }}"
                                   min="1"
                                   step="1"
                                   class="form-control input-sm"
                                   ng-blur="getCantidad($event)"
                            />
                            {% if form.form_productos.empty_form.cantidad.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.cantidad.errors }} </div>
                            {% endif %}
                        </td>
                        <td class="producto">
                            {{form.form_productos.empty_form.estereotipo|bootstrap_class}}
                            {% if form.form_productos.empty_form.estereotipo.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.estereotipo.errors }} </div>
                            {% endif %}
                        </td>
                        <td class="precio">
                            <input type="number"
                                   id="{{ form.form_productos.empty_form.precio_unidad.auto_id }}"
                                   name="{{form.form_productos.empty_form.precio_unidad.html_name}}"
                                   value="{{ form.form_productos.empty_form.precio_unidad.value }}"
                                   min="0"
                                   step="0.01"
                                   class="form-control input-sm"
                                   ng-blur="getInputTd($event)"
                            />
                            {% if form.form_productos.empty_form.precio_unidad.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.form_productos.empty_form.precio_unidad.errors }} </div>
                            {% endif %}
                        </td>
                        <td class="total_fila">
                            <input type="text" class="total_producto form-control input-sm" value="" readonly>
                            <input type="hidden" class="total_producto" value="">
                        </td>
                        <td>
                            <span class="hidden">{{ form.propiedad_form.empty_form.DELETE }}</span>
                            <a class="btn btn-sm btn-danger delete" href="#" >
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>'/>
                </div>
                <div class="col-sm-12 col-md-3 col-md-offset-2">
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <tr>
                                <th>
                                    Subtotal
                                </th>
                                <td id="subtotal">
                                    0.00
                                </td>
                            </tr>
                            <tr>
                                <th id="iva_porcentaje">
                                    IVA
                                    <select class="">
                                        <option value="0.16">
                                            16%
                                        </option>
                                    </select>
                                </th>
                                <td id="iva">
                                    0.00
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Total
                                </th>
                                <td id="total">
                                    0.00
                                </td>
                            </tr>
                            <!--<tr>
                                <td colspan="2" style="text-align:center">
                                    <a href="#">
                                        <strong>Calcular total</strong>
                                    </a>
                                </td>
                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <label>Total:</label>
            <div id="total">
                0.00
            </div>
        </div>
    </div> -->
</form>
{% endblock work %}
