{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block page_header %}Pedido de compra{% endblock page_header %}

{% block work %}
<form method="post">{% csrf_token %}
    {% include "fragments/buttons_form.html" with list_url='compras.pedido.list' %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.empresa.label_tag }}
            {{ form.empresa|bootstrap_class }}
            {% if form.empresa.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.empresa.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.almacen_destino.label_tag }}
            {{ form.almacen_destino|bootstrap_class }}
            {% if form.almacen_destino.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.almacen_destino.errors }} </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.proveedor.label_tag }}
            {{ form.proveedor|bootstrap_class }}
            {% if form.proveedor.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.proveedor.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6 col-sm-12">
            <span class="text-danger">*</span>
            {{ form.fecha_compromiso.label_tag }}
            {{ form.fecha_compromiso|bootstrap_class }}
            {% if form.fecha_compromiso.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.fecha_compromiso.errors }} </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-12">
        <table id='productos' class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Precio por unidad
                    </th>
                    <th>
                        Precio
                    </th>
                </tr>
            </thead>

        </table>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <button type="submit" class="btn btn-sm btn-warning">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar un producto
                </button>
            </div>
            <div class="col-sm-12 col-md-3 col-md-offset-2">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <th>
                                Subtotal
                            </th>
                            <td id="subtotal">
                                0.00
                            </td>
                        </tr>
                        <tr>
                            <th id="iva_porcentaje">
                                IVA
                                <select class="">
                                    <option value="0.16">
                                        16%
                                    </option>
                                </select>
                            </th>
                            <td id="iva">
                                0.00
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Total
                            </th>
                            <td id="total">
                                0.00
                            </td>
                        </tr>
                        <!--<tr>
                            <td colspan="2" style="text-align:center">
                                <a href="#">
                                    <strong>Calcular total</strong>
                                </a>
                            </td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock work %}
