{% extends "admin.html" %}

{% block page_header %}Detalle para pedido de compra{% endblock page_header %}

{% block work %}

<div class="panel panel-default">
  <div class="panel-body">
      <a href="{% url 'compras.pedido.list' %}" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          Volver al inicio
      </a>
      {# Si el pedido esta por enviar se muestra el boton activar #}
      {% if pedido.status == 'porenviar' %}
          <a href="{% url 'compras.pedido.activar' pedido.id %}" class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              Activar
          </a>
      {% endif %}
      {# Si el pedido proviene de una orden de venta no debe ser editable #}
      {% if not pedido.orden_venta %}
          <a href="{% url 'compras.pedido.update' pedido.id %}" class="btn btn-warning btn-sm">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              Editar
          </a>
          {# Si el pedido no ha sido completado o cancelado se muestra el boton cancelar #}
          {% if pedido.status != 'productosentregados' and pedido.status != 'cancelado' %}
              <a href="#" class="btn btn-danger btn-sm">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  Cancelar
              </a>
          {% endif %}
      {% endif %}
  </div>
</div>
{% include "compras/pedido/fragments/detail.html" %}
{% endblock work %}
