{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/core/subcategorias_categoria.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Categoría para productos{% endblock page_header %}

{% block work %}
<form method="post">{% csrf_token %}
    {% include "fragments/buttons_form.html" with list_url='producto.categoria.list' %}
    <div class="row">
        <div class="col-md-6">
            {{ form.nombre.label_tag }}
            {{ form.nombre|bootstrap_class }}
            {% if form.nombre.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.nombre.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {{ form.parent.label_tag }}
            {{ form.parent|bootstrap_class }}
            {% if form.parent.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.parent.errors }} </div>
            {% endif %}
        </div>
        <div class="col-md-12">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion|bootstrap_class }}
            {% if form.descripcion.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.descripcion.errors }} </div>
            {% endif %}
        </div>
    </div>

</form>
{% endblock work %}
