{% extends "admin.html" %}

{% block page_header %}
Categorias de productos
<a href="{% url 'producto.categoria.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if categorias %}
        <div class="well contenedor">
            <ul class="arbol">
                <!-- Primer nivel de cateogrias -->
                {% for categoria in categorias %}
                    <li>
                        <a href="{% url 'producto.categoria.detail' categoria.id %}" class="titulo">
                            {{categoria.nombre}}
                        </a>
                         -
                        <a href="{% url 'producto.categoria.create' %}?parent={{categoria.id}}" class="text-primary">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'producto.categoria.update' categoria.id %}" class="text-warning">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'producto.categoria.delete' categoria.id %}" class="text-danger">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                        <!-- Segundo nivel de cateogrias -->
                        {% if categoria.subcategorias %}
                            <ul>
                            {% for categoria in categoria.subcategorias.all %}
                                <li>
                                    <a href="{% url 'producto.categoria.detail' categoria.id %}" class="titulo">
                                        {{categoria.nombre}}
                                    </a>
                                     -
                                    <a href="{% url 'producto.categoria.create' %}?parent={{categoria.id}}" class="text-primary">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'producto.categoria.update' categoria.id %}" class="text-warning">
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                                    <a href="{% url 'producto.categoria.delete' categoria.id %}" class="text-danger">
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                    </a>
                                    <!-- Tercer nivel de cateogrias -->
                                    {% if categoria.subcategorias %}
                                        <ul>
                                        {% for categoria in categoria.subcategorias.all %}
                                            <li>
                                                <a href="{% url 'producto.categoria.detail' categoria.id %}" class="titulo">
                                                    {{categoria.nombre}}
                                                </a>
                                                 -
                                                <a href="{% url 'producto.categoria.create' %}?parent={{categoria.id}}" class="text-primary">
                                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                </a>
                                                <a href="{% url 'producto.categoria.update' categoria.id %}" class="text-warning">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </a>
                                                <a href="{% url 'producto.categoria.delete' categoria.id %}" class="text-danger">
                                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                                </a>
                                                <!-- Cuarto nivel de cateogrias -->
                                                {% if categoria.subcategorias %}
                                                    <ul>
                                                    {% for categoria in categoria.subcategorias.all %}
                                                        <li>
                                                            <a href="{% url 'producto.categoria.detail' categoria.id %}" class="titulo">
                                                                {{categoria.nombre}}
                                                            </a>
                                                             -
                                                            <a href="{% url 'producto.categoria.create' %}?parent={{categoria.id}}" class="text-primary">
                                                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                            </a>
                                                            <a href="{% url 'producto.categoria.update' categoria.id %}" class="text-warning">
                                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                            </a>
                                                            <a href="{% url 'producto.categoria.delete' categoria.id %}" class="text-danger">
                                                                <span class="glyphicon glyphicon-remove-sign"></span>
                                                            </a>
                                                            <!-- Quinto nivel de cateogrias -->
                                                            {% if categoria.subcategorias %}
                                                                <ul>
                                                                {% for categoria in categoria.subcategorias.all %}
                                                                    <li>
                                                                        <a href="{% url 'producto.categoria.detail' categoria.id %}" class="titulo">
                                                                            {{categoria.nombre}}
                                                                        </a>
                                                                         -
                                                                        <a href="{% url 'producto.categoria.create' %}?parent={{categoria.id}}" class="text-primary">
                                                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                                        </a>
                                                                        <a href="{% url 'producto.categoria.update' categoria.id %}" class="text-warning">
                                                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                                        </a>
                                                                        <a href="{% url 'producto.categoria.delete' categoria.id %}" class="text-danger">
                                                                            <span class="glyphicon glyphicon-remove-sign"></span>
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                            <!-- Fin quinto nivel de categorias -->
                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                <!-- Fin cuarto nivel de categorias -->
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <!-- Fin tercer nivel de categorias -->
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <!-- Fin segundo nivel de categorias -->
                    </li>
                {% endfor %}
                <!-- Fin primer nivel de categorias -->
            </ul>
        </div>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <div class="alert alert-info message-empty-table" role="alert">
            No hay ninguna categoría de producto registrada
        </div>
    {% endif %}
{% endblock work %}
