<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Descripción
            </th>
            <td>
                {{ especialidad.descripcion }}
            </td>
        </tr>
        <tr>
            <th>
                Subespecialidades
            </th>
            <td>
                {% if especialidad.subespecialidades %}
                    <ul>
                    {% for subespecialidad in especialidad.subespecialidades.all %}
                        <li>{{subespecialidad.descripcion}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
