<option value="">---------</option>
<% for (var i = 0; i < options.length; i++) { %>
    <% if( options[i][key] == selected ){ %>
        <option value="<%=options[i][key]%>" selected="selected">
    <% }else{ %>
        <option value="<%=options[i][key]%>">
    <% } %>
        <% for (var j = 0; j < valores.length; j++) { %>
            <%=options[i][ valores[j] ]%>
        <% } %>
    </option>
<% } %>
