<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Nombre
            </th>
            <td>
                {{ categoria.nombre }}
            </td>
        </tr>
        <tr>
            <th>
                Descripción
            </th>
            <td>
                {{ categoria.descripcion }}
            </td>
        </tr>
        <tr>
            <th>
                Subcategorias
            </th>
            <td>
                {% if categoria.subcategorias %}
                    <ul>
                    {% for subcategoria in categoria.subcategorias.all %}
                        <li>{{subcategoria.nombre}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
