<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Descripción
            </th>
            <td>
                {{ almacen.descripcion }}
            </td>
        </tr>
        <tr>
            <th>
                Dirección
            </th>
            <td>
                {{ almacen.direccion }}
            </td>
        </tr>
        <tr>
            <th>
                Estado
            </th>
            <td>
                {{ almacen.estado}}
            </td>
        </tr>
        <tr>
            <th>
                Ciudad
            </th>
            <td>
                {{almacen.ciudad}}
            </td>
        </tr>
    </tbody>
</table>
