<div class="panel panel-default">
  <div class="panel-body">
      <a href="{% url list_url %}" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          Volver al inicio
      </a>
      <a href="{% url edit_url key %}" class="btn btn-warning btn-sm">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          Editar
      </a>
  </div>
</div>
