<div class="panel panel-default">
  <div class="panel-body">
      <a href="{% url list_url %}" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          Volver al inicio</a>
      <button class="btn btn-success btn-sm" type="submit">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
          Guardar
      </button>
  </div>
</div>
