<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">¿Estas seguro(a) que deseas eliminar este elemento?</h3>
  </div>
  <div class="panel-body">
    {% include template %}
  </div>
  <div style="text-align:right;" class="panel-footer">
      <form method='post' >{% csrf_token %}
          <a href="{% url turn_url %}" class='btn btn-default'>
              <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
              No, volver al inicio
          </a>
          <button class="btn btn-danger" type="submit">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              Si, eliminar
          </button>
      </form>
  </div>
</div>
