{% load filtros %}
{% csrf_token %}
{% for field in form %}
    <div class="row">
        {{ field.label_tag }}
        {{ field|bootstrap_class }}
        {% if field.errors %}
           <div class='alert alert-danger' role="alert"> {{ field.errors }} </div>
        {% endif %}
    </div>
{% endfor %}
