{% load filtros_auth %}

{% for item in menu %}
    {% if item.secondary and item.secondary|first_subitem_permissions:request.user %} {# Consulta si el usuario tiene permisos para acceder por lo menos un subitem #}
        <li id="{{item.id}}">
            {% with item.secondary|first_subitem_permissions:request.user as first %}
                <a href="{{first.url}}"> {# Si hay tiene items secundarios se coloca el link del primero #}
            {% endwith %}
            {{ item.title }}
            </a>
        </li>
    {% endif %}
{% endfor %}
<li>
    {% if user.is_authenticated %}
        <a href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Mi cuenta<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'my_account' %}">Mis datos</a></li>
            <li><a href="{% url 'my_account.edit' %}">Editar información</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
          </ul>
    {% else %}
        <a href="{% url 'login' %}">Iniciar sesión</a>
    {% endif %}
</li>



{% if false %}

{% for item in menu %}
    {% if item.secondary %}
        {% with item.secondary|first as first %}
            <li id="{{item.id}}"><a href="{{first.url}}">{{ item.title }}</a></li>
        {% endwith %}
    {% endif %}
{% endfor %}

{% endif %}
