{% load filtros_auth %}

{% for item in menu %}
    {% if item.secondary and item.secondary|first_subitem_permissions:request.user %}
    <div class="collection" parent_id="{{item.id}}" style="display:none;">
        <h4>
            {{item.title}}
        </h4>
        <ul class="nav nav-sidebar">
        {% for subitem in item.secondary|all_subitem_permissions:request.user %}
            <li parent_id="{{item.id}}" {% if subitem.secondary %} class="parentlevel2" {% endif %}>
                <a href="{{subitem.url}}">
                    {% if subitem.icon %}
                        <i class="material-icons">{{subitem.icon}}</i>
                    {% endif %}
                    {{subitem.title}}
                </a>
            </li>
            {% if subitem.secondary %}
                {% for subsubitem in subitem.secondary %}
                    <li class="sublevel3" parent_id="{{item.id}}">
                        <a href="{{subsubitem.url}}">
                            {{subsubitem.title}}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endfor %}
