{% if messages %}
    <div class="row">
    	<div class="col-md-12">
    		<div class="messages">
    			{% for message in messages %}
    				{% if message.tags == 'success' %}
    					<div class="alert alert-success alert-dismissible" role="alert">
    				{% elif message.tags == 'info' %}
    					<div class="alert alert-info alert-dismissible" role="alert">
    				{% elif message.tags == 'warning' %}
    					<div class="alert alert-warning alert-dismissible" role="alert">
    				{% elif message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
    				{% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
    						<p>{{ message }}</p>
    					</div>
    			{% endfor %}
    		</div>
    	</div>
    </div>
{% endif %}
