<!-- <li class="no-padding">
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <a class="collapsible-header active waves-effect waves-teal"><i class="material-icons">place</i>Almacén</a>
            <ul class="collapsible-body">
                <li class="active"><a href="#">Almacén</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsible-header waves-effect waves-teal">Compras</a>
            <ul class="collapsible-body">
                <li><a href="#">Compras</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsible-header waves-effect waves-teal">Ventas</a>
            <ul class="collapsible-body">
                <li><a href="#">Ventas</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsible-header waves-effect waves-teal">Configuración</a>
            <ul class="collapsible-body">
                <li><a href="#">Configuración</a></li>
            </ul>
        </li>
        <li>
            <a class="collapsible-header waves-effect waves-teal">Mi cuenta</a>
            <ul class="collapsible-body">
                <li><a href="#!">First</a></li>
                <li><a href="#!">Second</a></li>
                <li><a href="#!">Third</a></li>
                <li><a href="#!">Fourth</a></li>
            </ul>
        </li>
    </ul>
</li> -->

<li class="no-padding">
    <ul class="collapsible" data-collapsible="accordion">
{% for item in menu %}

        <li>
            <a class="collapsible-header waves-effect waves-teal">
                {% if item.icon %}
                    <i class="material-icons">{{item.icon}}</i>
                {% endif %}
                {{item.title}}
            </a>
            <ul class="collapsible-body">
                {% if item.secondary and item.secondary|length > 0 %}

                    {% for subitem in item.secondary %}
                        <li>
                            <a href="{{subitem.url}}">
                                {% if subitem.icon %}
                                    <i class="material-icons">{{subitem.icon}}</i>
                                {% endif %}
                                {{subitem.title}}
                            </a>
                        </li>
                    {% endfor %}

                {% endif %}

            </ul>
        </li>

{% endfor %}
    <ul>
</li>
