{% if is_paginated %}
<nav style="text-align:center;">
  <ul class="pagination">
    {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" aria-label="Previo">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <span aria-hidden="true">&laquo;</span>
        </li>
    {% endif %}

    <li class="active"><a>{{ page_obj.number }}</a></li>

    {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" aria-label="Proximo">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% else %}
        <li class="disabled">
            <span aria-hidden="true">&raquo;</span>
        </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
