<thead>
    <tr>
        {% for header in headers %}
            <th>
                <a href="#">{{header}}</a>
            </th>
        {% endfor %}
        <th class="td-actions">

        </th>
    </tr>
</thead>
