<div class="row">
    <div class="col-md-6">
        <a href="{% url route %}" class="btn btn-sm btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar
        </a>
    </div>
    <div class="col-md-offset-2 col-md-4">
        <div class="clearfix">
            <div class="pull-right">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" name="q" placeholder="Buscar...">
                    </div>
                    <button type="submit" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
