{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/ventas/telefonos_orden.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block work %}
<h1 class="page-header">Contacto</h1>
<div class="row">
    <form method="post"> {% csrf_token %}
        <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <a class="btn btn-default btn-sm" href="{{redirection}}">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Cancelar
                </a>
                <button class="btn btn-success btn-sm" type="submit">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Guardar
                </button>
              </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    {{ form.cargo.label_tag }}
                    {{ form.cargo|bootstrap_class }}
                    {% if form.cargo.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.cargo.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.division_administrativa.label_tag }}
                    {{ form.division_administrativa|bootstrap_class }}
                    {% if form.division_administrativa.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.division_administrativa.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.nombres.label_tag }}
                    {{ form.nombres|bootstrap_class }}
                    {% if form.nombres.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.nombres.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form.apellidos.label_tag }}
                    {{ form.apellidos|bootstrap_class }}
                    {% if form.apellidos.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.apellidos.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            {% include "ventas/fragments/telefono_modelformset.html" %}
        </div>
        <input type="hidden" name="redirection" value="{{redirection}}">
    </form>
</div>
{% endblock work %}
