<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Nombre
            </th>
            <td>
                {{ proveedor.nombre }}
            </td>
        </tr>
        <tr>
            <th>
                Estado
            </th>
            <td>
                {{ proveedor.estado }}
            </td>
        </tr>
        <tr>
            <th>
                Ciudad
            </th>
            <td>
                {{ proveedor.ciudad }}
            </td>
        </tr>
        <tr>
            <th>
                Dirección
            </th>
            <td>
                {{proveedor.direccion}}
            </td>
        </tr>
        <tr>
            <th>
                Categorias
            </th>
            <td>
                {% if proveedor.categorias %}
                    <ul>
                        {% for categoria in proveedor.categorias.all %}
                            <li>{{categoria}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>
                Marcas
            </th>
            <td>
                {% if proveedor.marcas %}
                    <ul>
                        {% for marca in proveedor.marcas.all %}
                            <li>{{marca}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
