{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block page_header %}Propiedad{% endblock page_header %}

{% block work %}
<form method="post">{% csrf_token %}
    {% include "fragments/buttons_form.html" with list_url='producto.propiedad.list' %}
    <div class="row">
        <div class="col-md-12">
            {{ form.nombre.label_tag }}
            {{ form.nombre|bootstrap_class }}
            {% if form.nombre.errors %}
               <div class='alert alert-danger' role="alert"> {{ form.nombre.errors }} </div>
            {% endif %}
        </div>
    </div>
</form>
{% endblock work %}
