{% extends "table_list.html" %}

{% block page_header %}
Propiedad
<a href="{% url 'producto.propiedad.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if propiedades %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Nombre</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for propiedad in propiedades %}
                    <tr>
                        <td>
                            {{propiedad.nombre}}
                        </td>
                        <td>
                            <a href="{% url 'producto.propiedad.detail' propiedad.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'producto.propiedad.update' propiedad.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'producto.propiedad.delete' propiedad.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <p>
            No hay ningun propiedad registrado
        </p>
    {% endif %}
{% endblock work %}
