{% extends "table_list.html" %}

{% block page_header %}
    Usuarios
    <a href="{% url 'users.register' %}" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Agregar
    </a>
{% endblock page_header %}

{% block work %}
    {% if usuarios %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Nombre de usuario</a>
                    </th>
                    <th>
                        <a href="#">Correo electrónico</a>
                    </th>
                    <th>
                        <a href="#">Nombres</a>
                    </th>
                    <th>
                        <a href="#">apellidos</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>
                            {{usuario.username}}
                        </td>
                        <td>
                            {{usuario.email}}
                        </td>
                        <td>
                            {{usuario.first_name}}
                        </td>
                        <td>
                            {{usuario.last_name}}
                        </td>
                        <td>
                            <a href="{% url 'users.show' usuario.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'users.edit' usuario.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'users.delete' usuario.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <p>
            No hay ningun usuario registrado
        </p>
    {% endif %}
{% endblock work %}
