{% extends "admin.html" %}

{% block page_header %}Detalle de usuario{% endblock page_header %}

{% block work %}
<div class="container">
    {% include "fragments/buttons_show.html" with key=usuario.id list_url='users.list' edit_url='users.edit' %}
    <div class="row">
        <div class="col-md-12 col-sm-12 data-grid">
            <strong>Correo elétronico:</strong> {{usuario.email}}
        </div>
        <div class="col-md-6 col-sm-12 data-grid">
            <strong>Nombres:</strong> {{usuario.first_name}}
        </div>
        <div class="col-md-6 col-sm-12 data-grid">
            <strong>Apellidos:</strong> {{usuario.last_name}}
        </div>
        <div class="col-md-6 col-sm-12 data-grid">
            <strong>Grupo:</strong> {{usuario.groups.first}}
        </div>
    </div>
</div>
{% endblock work %}
