{% extends "table_list.html" %}

{% block page_header %}
Empresas
<a href="{% url 'empresa.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if empresas %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    {% block theaders %}
                        <th>
                            Logo
                        </th>
                        <th>
                            <a href="#">Nombre</a>
                        </th>
                        <th>
                            <a href="#">Dirección</a>
                        </th>
                        <th>
                            <a href="#">Estado</a>
                        </th>
                        <th>
                            <a href="#">Ciudad</a>
                        </th>
                    {% endblock theaders %}
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for empresa in empresas %}
                    <tr>
                        {% block tdatas %}
                            <td style="text-align:center;">
                                {% if empresa.logo %}
                                    <img src="/media/{{ empresa.logo }}" alt="logo" class="avatar" height="50" />
                                {% endif %}
                            </td>
                            <td>
                                {{empresa.nombre}}
                            </td>
                            <td>
                                {{empresa.direccion}}
                            </td>
                            <td>
                                {{empresa.estado}}
                            </td>
                            <td>
                                {{empresa.ciudad}}
                            </td>
                        {% endblock tdatas %}
                        <td>
                            <a href="{% url 'empresa.detail' empresa.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'empresa.update' empresa.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'empresa.delete' empresa.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <div class="alert alert-info message-empty-table" role="alert">
            No hay ningun empresa registrado
        </div>
    {% endif %}
{% endblock work %}
