<div class="form-group">
    <div class='input-group input-group-sm date datetimepicker'>
        {{field_input}}
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
