<div class="dependent">
    {{field_select}}
    <input type="hidden" id="url" value="{{url}}">
    <input type="hidden" id="target_id" value="{{target_id}}">
    <input type="hidden" id="dependent_id" value="id_{{field_name}}">
    <input type="hidden" id="valor_select" value="{{value}}">
    <input type="hidden" id="dependent_field_key" value="{{dependent_field_key}}">
    <input type="hidden" id="dependent_field_value" value="{{dependent_field_value}}">
</div>
