{% load staticfiles %}
<div class="addmore-container">
    <div class="form-inline">
        <div class="form-group">
            {{field_select}}
            <input type="hidden" class="key" value="{{key}}">
            <input type="hidden" class="value" value="{{value}}">
        </div>
        <a href="#" class="btn btn-sm btn-primary addmore" data-route="{% url ruta %}" data-toggle="tooltip" title="Agregar un nuevo elemento">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Agregar nuevo elemento</h4>
          </div>
          <div class="modal-body">
            <div id="form" style="padding:0 1em;">
                {% include "fragments/form_only_fields.html" %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary aceptar">Crear</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
