{% extends "admin.html" %}
{% load filtros %}

{% block page_header %}Registar usuario{% endblock page_header %}

{% block work %}
    <form method="post">{% csrf_token %}
        {% include "fragments/buttons_form.html" with list_url='users.list' %}
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{form.grupo.label_tag}}
                    {{form.grupo|bootstrap_class}}
                    {% if form.grupo.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.grupo.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{form.email.label_tag}}
                    {{form.email|bootstrap_class}}
                    {% if form.email.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.email.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{form.password.label_tag}}
                    {{form.password|bootstrap_class}}
                    {% if form.password.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.password.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{form.password_repeat.label_tag}}
                    {{form.password_repeat|bootstrap_class}}
                    {% if form.password_repeat.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.password_repeat.errors }} </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="col-md-12">
                    {{form.username.label_tag}}
                    {{form.username|bootstrap_class}}
                    {% if form.username.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.username.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    {{form.first_name.label_tag}}
                    {{form.first_name|bootstrap_class}}
                    {% if form.first_name.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.first_name.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    {{form.last_name.label_tag}}
                    {{form.last_name|bootstrap_class}}
                    {% if form.last_name.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.last_name.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock work %}
