{% extends "base.html" %}

{% block body %}
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" name="_submit" class="btn">Submit</button>
    </form>
{% endblock body %}
