{% extends "table_list.html" %}

{% block page_header %}
Médicos
<a href="{% url 'medico.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if medicos %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Nombre</a>
                    </th>
                    <th>
                        <a href="#">Apellido</a>
                    </th>
                    <th>
                        <a href="#">Estado</a>
                    </th>
                    <th>
                        <a href="#">Ciudad</a>
                    </th>
                    <th>
                        <a href="#">Hospital</a>
                    </th>
                    <th>
                        <a href="#">Especialidad</a>
                    </th>
                    <th>
                        <a href="#">subespecialidad</a>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for medico in medicos %}
                    <tr>
                        <td>
                            {{medico.nombres}}
                        </td>
                        <td>
                            {{medico.apellidos}}
                        </td>
                        <td>
                            {{medico.estado}}
                        </td>
                        <td>
                            {{medico.ciudad}}
                        </td>
                        <td>
                            {{medico.hospital}}
                        </td>
                        <td>
                            {{medico.especialidad}}
                        </td>
                        <td>
                            {{medico.subespecialidad}}
                        </td>
                        <td>
                            <a href="{% url 'medico.detail' medico.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'medico.update' medico.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'medico.delete' medico.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <p>
            No hay ningun medico registrado
        </p>
    {% endif %}
{% endblock work %}
