{% extends "table_list.html" %}

{% block page_header %}
Especialidades medicas
<a href="{% url 'medico.especialidad.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if especialidades %}
        <div class="well contenedor">
            <ul class="arbol">
                {% for especialidad in especialidades %}
                    <li>
                        <a href="{% url 'medico.especialidad.detail' especialidad.id %}" class="titulo">
                            {{especialidad.descripcion}}
                        </a>
                        -
                       <a href="{% url 'medico.especialidad.create' %}?parent={{especialidad.id}}" class="text-primary">
                           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                       </a>
                       <a href="{% url 'medico.especialidad.update' especialidad.id %}" class="text-warning">
                           <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                       </a>
                       <a href="{% url 'medico.especialidad.delete' especialidad.id %}" class="text-danger">
                           <span class="glyphicon glyphicon-remove-sign"></span>
                       </a>
                       {% if especialidad.subespecialidades %}
                           <ul>
                               {% for especialidad in especialidad.subespecialidades.all %}
                                   <li>
                                       <a href="{% url 'medico.especialidad.detail' especialidad.id %}" class="titulo">
                                           {{especialidad.descripcion}}
                                       </a>
                                       -
                                      <a href="{% url 'medico.especialidad.create' %}?parent={{especialidad.id}}" class="text-primary">
                                          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                      </a>
                                      <a href="{% url 'medico.especialidad.update' especialidad.id %}" class="text-warning">
                                          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                      </a>
                                      <a href="{% url 'medico.especialidad.delete' especialidad.id %}" class="text-danger">
                                          <span class="glyphicon glyphicon-remove-sign"></span>
                                      </a>
                                      {% if especialidad.subespecialidades %}
                                          <ul>
                                              {% for especialidad in especialidad.subespecialidades.all %}
                                                  <li>
                                                      <a href="{% url 'medico.especialidad.detail' especialidad.id %}" class="titulo">
                                                          {{especialidad.descripcion}}
                                                      </a>
                                                      - 
                                                     <a href="{% url 'medico.especialidad.update' especialidad.id %}" class="text-warning">
                                                         <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                     </a>
                                                     <a href="{% url 'medico.especialidad.delete' especialidad.id %}" class="text-danger">
                                                         <span class="glyphicon glyphicon-remove-sign"></span>
                                                     </a>
                                                  </li>
                                              {% endfor %}
                                          </ul>
                                      {% endif %}
                                   </li>
                               {% endfor %}
                           </ul>
                       {% endif %}
                   </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="alert alert-info message-empty-table" role="alert">
            No hay ninguna especilidad medica registrada
        </div>
    {% endif %}
{% endblock work %}
