{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{block.super}}
<script src="{% static 'js/ventas/telefonos_orden.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Cliente{% endblock page_header %}

{% block work %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% include "fragments/buttons_form.html" with list_url='cliente.list' %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Datos básicos</h3>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  <div class="row">
                      <div class="col-md-12">
                          {{ form.logo.label_tag }}
                          {{ form.logo|bootstrap_class }}
                          {% if form.logo.errors %}
                          <div class='alert alert-danger' role="alert"> {{ form.logo.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <span class="text-danger">*</span>
                          {{ form.nombre.label_tag }}
                          {{ form.nombre|bootstrap_class }}
                          {% if form.nombre.errors %}
                             <div class='alert alert-danger' role="alert"> {{ form.nombre.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  {% include "ventas/fragments/telefono_modelformset.html" %}
              </div>
              <div class="col-md-6 col-sm-12">
                  <div class="row">
                      <div class="col-md-12">
                          <span class="text-danger">*</span>
                          {{ form.estado.label_tag }}
                          {{ form.estado|bootstrap_class }}
                          {% if form.estado.errors %}
                             <div class='alert alert-danger' role="alert"> {{ form.estado.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <span class="text-danger">*</span>
                          {{ form.ciudad.label_tag }}
                          {{ form.ciudad|bootstrap_class }}
                          {% if form.ciudad.errors %}
                             <div class='alert alert-danger' role="alert"> {{ form.ciudad.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          {{ form.direccion.label_tag }}
                          {{ form.direccion|bootstrap_class }}
                          {% if form.direccion.errors %}
                             <div class='alert alert-danger' role="alert"> {{ form.direccion.errors }} </div>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Datos para entregas</h3>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  {{ form.datos_entrega_form.lugar.label_tag }}
                  {{ form.datos_entrega_form.lugar|bootstrap_class }}
                  {% if form.datos_entrega_form.lugar.errors %}
                  <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.lugar.errors }} </div>
                  {% endif %}
              </div>
              <div class="col-md-6 col-sm-12">
                  {{ form.datos_entrega_form.estratificacion.label_tag }}
                  {{ form.datos_entrega_form.estratificacion|bootstrap_class }}
                  {% if form.datos_entrega_form.estratificacion.errors %}
                  <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.estratificacion.errors }} </div>
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  {{ form.datos_entrega_form.garantia_tecnica.label_tag }}
                  {{ form.datos_entrega_form.garantia_tecnica|bootstrap_class }}
                  {% if form.datos_entrega_form.garantia_tecnica.errors %}
                  <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.garantia_tecnica.errors }} </div>
                  {% endif %}
              </div>
              <div class="col-md-6 col-sm-12">
                  {{ form.datos_entrega_form.norma_nacional.label_tag }}
                  {{ form.datos_entrega_form.norma_nacional|bootstrap_class }}
                  {% if form.datos_entrega_form.norma_nacional.errors %}
                  <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.norma_nacional.errors }} </div>
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  {{ form.datos_entrega_form.vigencia_cotizacion.label_tag }}
                  {{ form.datos_entrega_form.vigencia_cotizacion|bootstrap_class }}
                  {% if form.datos_entrega_form.vigencia_cotizacion.errors %}
                  <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.vigencia_cotizacion.errors }} </div>
                  {% endif %}
              </div>
              <div class="col-md-6 col-sm-12">
                  {{ form.datos_entrega_form.origen_bienes.label_tag }}
                  {{ form.datos_entrega_form.origen_bienes|bootstrap_class }}
                  {% if form.datos_entrega_form.origen_bienes.errors %}
                  <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.origen_bienes.errors }} </div>
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  {{ form.datos_entrega_form.plazo_condiciones.label_tag }}
                  {{ form.datos_entrega_form.plazo_condiciones|bootstrap_class }}
                  {% if form.datos_entrega_form.plazo_condiciones.errors %}
                  <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.plazo_condiciones.errors }} </div>
                  {% endif %}
              </div>
              <div class="col-md-6 col-sm-12">
                  {{ form.datos_entrega_form.declaracion_buena_fe.label_tag }}
                  {{ form.datos_entrega_form.declaracion_buena_fe|bootstrap_class }}
                  {% if form.datos_entrega_form.declaracion_buena_fe.errors %}
                  <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.declaracion_buena_fe.errors }} </div>
                  {% endif %}
              </div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  {{ form.datos_entrega_form.forma_pago.label_tag }}
                  {{ form.datos_entrega_form.forma_pago|bootstrap_class }}
                  {% if form.datos_entrega_form.forma_pago.errors %}
                  <div class='alert alert-danger' role="alert"> {{ form.datos_entrega_form.forma_pago.errors }} </div>
                  {% endif %}
              </div>
          </div>
      </div>
    </div>
    {% include "ventas/fragments/add_contactos.html" with url_redirect='cliente.update' %}
</form>
{% endblock work %}
