{% extends "table_list.html" %}

{% block page_header %}
Clientes
<a href="{% url 'cliente.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}
    {% if clientes %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    {% block theaders %}
                        <th>
                            Logo
                        </th>
                        <th>
                            <a href="#">Nombre</a>
                        </th>
                        <th>
                            <a href="#">Dirección</a>
                        </th>
                        <th>
                            <a href="#">Estado</a>
                        </th>
                        <th>
                            <a href="#">Ciudad</a>
                        </th>
                    {% endblock theaders %}
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        {% block tdatas %}
                            <td style="text-align:center;">
                                {% if cliente.logo %}
                                    <img src="/media/{{ cliente.logo }}" alt="logo" class="avatar" height="50" />
                                {% endif %}
                            </td>
                            <td>
                                {{cliente.nombre}}
                            </td>
                            <td>
                                {{cliente.direccion}}
                            </td>
                            <td>
                                {{cliente.estado}}
                            </td>
                            <td>
                                {{cliente.ciudad}}
                            </td>
                        {% endblock tdatas %}
                        <td>
                            <a href="{% url 'cliente.detail' cliente.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'cliente.update' cliente.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'cliente.delete' cliente.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <div class="alert alert-info message-empty-table" role="alert">
            No hay ningun cliente registrado
        </div>
    {% endif %}
{% endblock work %}
