{% extends "admin.html" %}
{% load filtros %}

{% block page_header %}Conciliación{% endblock page_header %}

{% block work %}

    <form method="post">{% csrf_token %}
        {% include "fragments/buttons_form.html" with list_url='almacen.conciliacion.list' %}
        <div class="row">
            <div class="col-md-6 col-sm-12">
                {{ form.almacen.label_tag }}
                {{ form.almacen|bootstrap_class }}
                {% if form.almacen.errors %}
                   <div class='alert alert-danger' role="alert"> {{ form.almacen.errors }} </div>
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-12">
                {{ form.fecha.label_tag }}
                <div class="form-group">
                    <div class='input-group input-group-sm date datetimepicker'>
                        {{ form.fecha|attrs:"class:form-control input-sm" }}
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                {% if form.fecha.errors %}
                   <div class='alert alert-danger' role="alert"> {{ form.fecha.errors }} </div>
                {% endif %}
            </div>
        </div>
    </form>

{% endblock work %}
