{% extends "admin.html" %}

{% block page_header %}Conciliación{% endblock page_header %}

{% block work %}
<h2>Movimientos</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Alamcen Origen
                </th>
                <th>
                    Almacen Destino
                </th>
            </tr>
        </thead>
        <tbody>
            {% for movimiento in conciliacion.movimientos.all %}
                <tr>
                    <td>
                        {{movimiento.producto.estereotipo.nombre}}
                    </td>
                    <td>
                        {{movimiento.almacen_origen}}
                    </td>
                    <td>
                        {{movimiento.almacen_destino}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock work %}
