{% extends "admin.html" %}
{% load staticfiles %}

{% block page_header %}Conciliación{% endblock page_header %}

{% block javascript %}
{{ block.super }}
    <script src="{% static 'js/lib/angular-chosen.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/config.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/directives.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/services.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/almacen/app/controllers/conciliacionController.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block work %}

<div ng-app="almacen">

    <!-- <div ng-view></div> -->

    <input type="hidden" id="almacen_id" value="{{almacen.id}}">
    <input type="hidden" id="conciliacion_id" value="{{conciliacion.id}}">
    {% csrf_token %}

    <div ng-controller="conciliacionController">
        {% verbatim %}
        <div class="row">
            <div class="col-sm-10">
                <input type="text" class="form-control" my-enter="capturarCodigo">
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary add_producto" ng-click="nuevo_producto()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Nuevo producto
                </a>
            </div>
        </div>

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <table  class="table table-bodered">
                        <thead>
                            <tr>
                                <th>
                                    Código
                                </th>
                                <th width="60%">
                                    Producto
                                </th>
                                <th width="20%">
                                    Fecha de vencimiento
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="producto in productos | reverse">
                                <td>
                                    {{producto.data.codigo}}
                                </td>
                                <td ng-if="producto.tipo=='confirmado'">
                                    {{producto.data.estereotipo_verbose}}
                                </td>
                                <td ng-if="producto.tipo=='nuevo'">
                                    <select chosen
                                            ng-options="estereotipo.nombre for estereotipo in estereotipos track by estereotipo.id"
                                            ng-model=producto.data.estereotipo
                                            class="form-control">
                                    </select>
                                </td>
                                <td ng-if="producto.tipo=='confirmado'">
                                    {{producto.data.fecha_vencimiento}}
                                </td>
                                <td ng-if="producto.tipo=='nuevo'">
                                    <input type="date" class="form-control input-sm datepicker" ng-model="producto.data.fecha_vencimiento">
                                </td>
                                <td>
                                    <a ng-click="eliminar(producto)" class="btn btn-sm btn-danger">
                                        <span class="glyphicon glyphicon-remove-sign"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="btn btn-default" ng-click="save()">Enviar</a>
        {% endverbatim %}
    </div>

</div>
{% endblock work %}
