{% extends "admin.html" %}

{% block page_header %}
Conciliaciones
<a href="{% url 'almacen.conciliacion.create' %}" class="btn btn-success btn-sm">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    Agregar
</a>
{% endblock page_header %}

{% block work %}

{% if conciliaciones %}
    <table class="table table-striped table-bordered table-condensed table-list">
        <thead>
            <tr>
                <th>
                    <a href="#">Status</a>
                </th>
                <th>
                    <a href="#">Motivo</a>
                </th>
                <th>
                    <a href="#">Tipo</a>
                </th>
                <th>
                    <a href="#">Origen</a>
                </th>
                <th>
                    <a href="#">Destino</a>
                </th>
                <th>
                    <a href="#">Fecha</a>
                </th>
                <th class="td-actions">

                </th>
            </tr>
        </thead>
        <tbody>
            {% for conciliacion in conciliaciones %}
                <tr>
                    <td>
                        {{conciliacion.verbose_status}}
                    </td>
                    <td>
                        {{conciliacion.verbose_motivo}}
                    </td>
                    <td>
                        {{conciliacion.verbose_tipo}}
                    </td>
                    <td>
                        {{conciliacion.almacen_origen}}
                    </td>
                    <td>
                        {{conciliacion.almacen_destino}}
                    </td>
                    <td>
                        {{conciliacion.fecha_inicio|date:'SHORT_DATE_FORMAT'}}
                    </td>
                    <td>
                        <a href="{% url 'almacen.conciliacion.detail' conciliacion.id %}" class="btn btn-sm btn-default">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'almacen.conciliacion.update' conciliacion.id %}" class="btn btn-sm btn-warning">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a href="{% url 'almacen.conciliacion.delete' conciliacion.id %}" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "fragments/simple_pagination.html" %}
{% else%}
    <div class="alert alert-info message-empty-table" role="alert">
        No hay ningun almacén registrado
    </div>

    {% endif %}
{% endblock work %}
