<table class="table table-bordered">
    <tbody>
        <tr>
            <th>
                Nombre
            </th>
            <td>
                {{ hospital.nombre }}
            </td>
        </tr>
        <tr>
            <th>
                Dirección
            </th>
            <td>
                {{hospital.direccion}}
            </td>
        </tr>
        <tr>
            <th>
                Estado
            </th>
            <td>
                {{hospital.estado}}
            </td>
        </tr>
        <tr>
            <th>
                Ciudad
            </th>
            <td>
                {{hospital.ciudad}}
            </td>
        </tr>
    </tbody>
</table>
