{% extends "base.html" %}
{% load filtros %}

{% block body %}

    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            {% include "fragments/messages.html" %}
            <form class="form-login" method="post">{% csrf_token %}
                <h2 class="form-signin-heading">Inicio de sesión</h2>
                {{form.username.label_tag}}
                {{form.username|bootstrap_class}}
                {% if form.username.errors %}
                   <div class='alert alert-danger' role="alert"> {{ form.username.errors }} </div>
                {% endif %}
                {{form.password.label_tag}}
                {{form.password|bootstrap_class}}
                {% if form.password.errors %}
                   <div class='alert alert-danger' role="alert"> {{ form.password.errors }} </div>
                {% endif %}
                <hr>
                <!--<div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Mantener sesión abierta
                    </label>
                </div>-->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>

{% endblock body %}
