<table class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th width="20%">
                Cantidad
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="producto in productos">
            <td>
                <a href=""></a>
                {{producto.nombre}}
            </td>
            <td>
                <!-- <input  type="number"
                        ng-model="producto.existencia_real_dirty"
                        class="form-control input-sm"
                        ng-blur="dirty(producto)"> -->
                {{producto.existencia_real}}
            </td>
        </tr>
    </tbody>
</table>
