
<div class="panel panel-default">
  <div class="panel-body">
      <a href="#/" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
          Volver al inicio
      </a>
  </div>
</div>
<p ng-hide="cargado">
    Cargando...
</p>
<table ng-show="cargado" class="table table-bordered">
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                Código
            </th>
            <th>
                Precio de compra
            </th>
            <th width="20%">

            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="producto in productos">
            <td>
                {{producto.id}}
            </td>
            <td>
                {{producto.codigo}}
            </td>
            <td>
                {{producto.precio_compra}}
            </td>
            <td>
                <a class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>
