<p ng-hide="cargado">
    Cargando...
</p>


<table ng-show="cargado" class="table">
    <thead>
        <tr>
            <th>
                Producto
            </th>
            <th width="20%">
                Cantidad
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="producto in productos">
            <td>
                <a href="#/{{producto.id}}">{{producto.nombre}}</a>
            </td>
            <td>
                {{producto.existencia_real}}
            </td>
        </tr>
    </tbody>
</table>
