{% extends "admin.html" %}
{% load staticfiles %}
{% load filtros %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'js/firewall/permisos_grupo.js' %}" charset="utf-8"></script>
{% endblock javascript %}

{% block page_header %}Edición de grupos{% endblock page_header %}

{% block work %}
    <form method="post">{% csrf_token %}
        {% include "fragments/buttons_form.html" with list_url='groups.list' %}
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{form.name.label_tag}}
                    {{form.name|bootstrap_class}}
                    {% if form.name.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.name.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <span class="text-danger">*</span>
                    {{form.permissions.label_tag}}
                    {{form.permissions|attrs:"class:form-control searchable"}}
                    {% if form.permissions.errors %}
                    <div class='alert alert-danger' role="alert"> {{ form.permissions.errors }} </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if form.permisos_form %}
            <h3>Permisos</h3>
            <div id="container_permiso">
                {{ form.permisos_form.management_form }}
                {% for form in form.permisos_form %}
                    <div class="row">
                        {{form.id}}
                        <div class="col-sm-10">
                            {{form.name.label_tag}}
                            {{form.name|bootstrap_class}}
                            {% if form.name.errors %}
                               <div class="alert alert-danger" role="alert"> {{ form.name.errors }} </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-2">
                            <span class="hidden">{{ form.DELETE }}</span>
                            <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <a class="btn btn-sm btn-success add_more" href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar permiso
                </a>
                <input type="hidden" id="empty_form_permiso" value=' <div class="row">
                    <div class="col-sm-10">
                    {{form.permisos_form.empty_form.name.label_tag}}
                    {{form.permisos_form.empty_form.name|bootstrap_class}}
                    {% if form.permisos_form.empty_form.name.errors %}
                       <div class="alert alert-danger" role="alert"> {{ form.permisos_form.empty_form.name.errors }} </div>
                    {% endif %}
                </div>
                <div class="col-sm-2">
                    <span class="hidden">{{ form.permisos_form.empty_form.DELETE }}</span>
                    <a class="btn btn-sm btn-danger delete" href="#" style="margin-top:2.5rem;">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
                </div>
            </div>
                 '>
            </div>
        {% endif %}
    </form>
{% endblock work %}
