{% extends "admin.html" %}


{% block page_header %}
    Grupos
    <a href="{% url 'groups.create' %}" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Agregar
    </a>
{% endblock page_header %}

{% block work %}
    {% if grupos %}
        <table class="table table-striped table-bordered table-condensed table-list">
            <thead>
                <tr>
                    <th>
                        <a href="#">Descripción</a>
                    </th>
                    <th>
                        <a href="#">Permisos</a>
                    </th>
                    </th>
                    <th class="td-actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                {% for grupo in grupos %}
                    <tr>
                        <td>
                            {{grupo.name}}
                        </td>
                        <td>
                            <ul>
                            {% for permiso in grupo.permissions.all %}
                                <li>{{permiso.name}}</li>
                            {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <a href="{% url 'groups.show' grupo.id %}" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'groups.edit' grupo.id %}" class="btn btn-sm btn-warning">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <a href="{% url 'groups.delete' grupo.id %}" class="btn btn-sm btn-danger">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include "fragments/simple_pagination.html" %}
    {% else %}
        <p>
            No hay ningun grupo registrado
        </p>
    {% endif %}
{% endblock work %}
