{% extends "admin.html" %}

{% block page_header %}Configuración{% endblock page_header %}

{% block work %}
    {% if metas %}
    <form method="post">
        <div class="panel panel-default">
          <div class="panel-body">
              <button class="btn btn-success btn-sm" type="submit">
                  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                  Guardar
              </button>
          </div>
        </div>
        {% csrf_token %}
        {% include "fragments/messages.html" %}
        {% for meta in metas  %}
            <label for="{{meta.id}}">{{meta.clave}}:</label>
            <input type="text" name="{{meta.id}}" value="{{meta.valor}}" class="form-control">
        {% endfor %}
    </form>
    {% else %}
        <p>
            No hay metainformación en la base de datos
        </p>
    {% endif %}
{% endblock work %}
